<template>
  <div class="flix-top-bar">
    <b-container>
      <b-row>
        <b-col>
          <a title="Flix do Varejo" href="https://flixdovarejo.com.br" target="_blank">
            <img alt="Logo Flix do Varejo" src="../../assets/img/logo_flixdovarejo.png" height="28">
          </a>
        </b-col>
        <b-col class="text-right">
          <a
            href="https://flixdovarejo.com.br"
            id="link-voltar-painel"
            target="_blank"
            class="btn btn-link"
            title="Voltar ao portal Flix do Varejo"
          >
            <i class="fas fa-undo-alt"></i>
            voltar ao portal Flix do Varejo
          </a>
          <a
            v-if="loggedIn"
            href="javascript:void(0)"
            @click="logout()"
            class="btn btn-link"
            title="Sair do Flix Mídia"
          >
            <i class="fas fa-sign-out-alt"></i>
            Sair
          </a>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "FlixTopBar",
  data() {
    return {
      loggedIn: localStorage.getItem("user")
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("authentication/logout");
    }
  }
};
</script>

<style scoped>
.flix-top-bar {
  background-color: #000;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0px;
  z-index: 3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.flix-top-bar img {
  margin: 2px 0;
}

.flix-top-bar a {
  font-weight: bold;
  font-size: 12px;
  color: #f58229;
}

@media only screen and (max-width: 767px) {
  .flix-top-bar {
    position: inherit;
  }
  .flix-top-bar #link-voltar-painel {
    display: none;
  }
}
</style>
