<template>
    <div class="authflix text-center">
        <img src="../../assets/img/load.svg" class="text-center" alt="Ícone carregando" />
        <br>
        <b>entrando...</b>
    </div>
</template>

<script>

    //KC=9788CB0D7C67F4B0F2E1F4E9386EF894&KA=A7F3FC5C6331D4CA1B7978B96D860834

    export default {
        name: "FlixAuth",
        data () {
            return {
                kc: this.$route.query.KC,
                ka: this.$route.query.KA
            }
        },
        created () {
            this.submitted = true;
            const { kc, ka } = this;
            const { dispatch } = this.$store;
            if (kc && ka) {
                dispatch('authentication/loginFlix', { kc, ka });
            }
        },
    }
</script>

<style>
    body{
        background: black;
    }
</style>
