<template>
  <div>
    <div v-if="itemIsEditing ">
      <div class="product-image">
        <div style="height:100px;">
          <img
            v-if=" itemIsEditing.img != 'static/itens/chapa.jpg' && isSavedModel && (itemIsEditing.img).indexOf('blob') == -1"
            :src="storage+itemIsEditing.img"
            style="height:100%;"
          >
          <img
            v-if=" itemIsEditing.img != 'static/itens/chapa.jpg' && !isSavedModel"
            :src="itemIsEditing.img"
            style="height:100%;"
          >
          <img
            v-if=" itemIsEditing.img == 'static/itens/chapa.jpg' "
            :src="itemIsEditing.img"
            style="height:100%;"
          >
          <img
            v-if="(itemIsEditing.img).indexOf('blob') != -1 && isSavedModel"
            :src="itemIsEditing.img"
            style="height:100%;"
          >
        </div>
        <div class="image-container" v-if="!itemIsEditing">
          <img :src="img_property" style="weight:40%;height:40%;margin-top:30px;">
        </div>

        <input
          type="file"
          @change="onFileChange"
          accept=".png, .jpg"
          id="upload_propert"
          style="display: none"
        >
        <button
          @click="$refs.Croppermodal.show();bgshow = false;itemIsEditing.selected = false;"
          class="btn-upload-img-label"
        >Enviar Foto</button>
      </div>
      <div class="prop-options">
        <div class="text-left">
          <span class="form-label">Título</span>
          <b-form-group id="product-from" :label="$t()" laber-for="title-prop">
            <b-form-textarea
              id="textarea1"
              maxlength="50"
              v-model="itemIsEditing.dsc"
              placeholder
              :rows="3"
              :max-rows="6"
            ></b-form-textarea>
          </b-form-group>
        </div>
      </div>
      <div class="prop-options">
        <div class="text-left">
          <div class="form-label">Layout do Preço</div>
          <b-form-group></b-form-group>
        </div>
      </div>
      <div class="prop-options">
        <div class="text-left">
          <b-form-group v-if="itemIsEditing.priceType == 3">
            <b-row>
              <b-col>
                <b-input-group size="lg">
                  <b-form-textarea v-model="itemIsEditing.oferta" :rows="3" :max-rows="6"></b-form-textarea>
                </b-input-group>
              </b-col>
            </b-row>
          </b-form-group>
          <b-form-group v-if="itemIsEditing.priceType == 1">
            <b-row>
              <b-col>
                <b-input-group size="lg">
                  <b-form-input v-model="itemIsEditing.price"></b-form-input>
                </b-input-group>
              </b-col>
              <b-col>
                <b-input-group size="lg">
                  <b-form-input v-model="itemIsEditing.und"></b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
          </b-form-group>
          <div v-if="itemIsEditing.priceType == 2">
            <b-row>
              <b-col>
                <b-input-group size="lg">
                  <b-form-input v-model="itemIsEditing.de_por"></b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-input-group size="lg">
                  <b-form-input v-model="itemIsEditing.price"></b-form-input>
                </b-input-group>
              </b-col>
              <b-col>
                <b-input-group size="lg">
                  <b-form-input v-model="itemIsEditing.und"></b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
          </div>
          <b-row>
            <span
              class="form-label"
              style="padding-left: 20px; padding-top: 5px;"
            >Estilo de etiqueta</span>
            <div v-if="themeAtual" class="bg_prices">
              <img
                v-for="(image,key) in themeAtual.prices"
                v-bind:key="key"
                :src="image.background_path"
                @click="itemIsEditing.bg_price = image.background_path; updateTicketPrice(image.background_path)"
              >
            </div>
          </b-row>
          <b-row>
            <b-col>
              <button @click="clearEditing" class="btn-upload-img-label full">Salvar alterações</button>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
    <div v-if="!itemIsEditing && !editor && themeAtual">
      <div style="margin: 40px;padding:10px;min-height:400px;">
        <h5 class="select-product">Clique em um produto para editar</h5>
      </div>
    </div>
    <div class="prop-options">
      <b-form-textarea
        id="htmleditor"
        v-if="editor && textIsEditing"
        v-model="textIsEditing.text"
        :rows="5"
        :max-rows="6"
      ></b-form-textarea>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style>
</style>
