<template>
  <div class="banderole">
    <div class="header">
      <EditMenu @save-all="saveAll();" @download="showModalFinalizar();"/>
    </div>
    <b-modal
      id="modal-center"
      size="lg"
      centered
      title="Selecione um tema"
      ref="themesModal"
      hide-footer
      hide-header
      v-if="!isSavedModel"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
    >
      <h4>Selecione um tema</h4>
      <hr>
      <div class="text-center">
        <div class="row" v-if="themesArr">
          <div
            class="col-md-4 padding-bottom"
            v-for="(themes, index) in themesArr"
            :key="index"
            @click="showLoading(themes); themeAtual = themes; getPagesForThisTheme(2, themes.id); closeModal();"
          >
            <div class="border rounded p-2 cursor-pointer">
              <b-row>
                <b-col class="text-center">
                  <b-img rounded :src="themes.img_background" :alt="themes.name" height="100"/>
                  <div class="text-center">
                    <hr>
                    <h6>
                      <b>{{themes.name}}</b>
                    </h6>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </div>
    </b-modal>

    <b-modal ref="Croppermodal" centered hide-header hide-footer style="z-index: 10020!important;">
      <b-alert show dismissible fade variant="success">
        <p style="font-size: 12px;">
          Você pode usar as funções arrasta e solta, ou se preferir clique para fazer o upload de sua imagem.
          Use o scroll do mouse como zoom e arraste para posicionar sua imagem.
        </p>
      </b-alert>
      <div class="container">
        <div class="row">
          <div class="col-md-12 canvas-area">
            <croppa
              v-model="croppa"
              :width="300"
              :height="300"
              placeholder="Faça upload da sua imagem"
              placeholder-color="#000"
              :placeholder-font-size="16"
              canvas-color="#ffffff"
              :show-remove-button="true"
              remove-button-color="black"
              :show-loading="true"
              :loading-size="50"
            ></croppa>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>
              <button class="buttonFlips" @click="croppa.rotate()">Girar 90º</button>
              <button class="buttonFlips" @click="croppa.rotate(2)">Girar 180º</button>
              <button class="buttonFlips" @click="croppa.rotate(-1)">Girar -90º</button>
              <button class="buttonFlips" @click="croppa.flipX()">Flip Horizontal</button>
              <button class="buttonFlips" @click="croppa.flipY()">Flip Vertical</button>
            </div>
            <div class="button-row">
              <button
                class="concluirbutton"
                @click="getimagecrop('image/jpeg', 0.8)"
              >Concluir Edição</button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>

    <div class="edit-area">
      <div class="drawer d-flex align-items-stretch">
        <div class="drawer-col-1 bg-light">
          <div class="drawer-themes" v-if="themeAtual">
            <div class="border-bottom p-1">TEMAS</div>

            <div class="drawer-overflow bg-white border-bottom">
              <div v-if="themesArr">
                <b-media
                  class="cursor-pointer border rounded p-2 mb-2 bg-light"
                  v-for="(themes, index) in themesArr"
                  :key="index"
                  @click="showLoading(themes); themeAtual = themes; getPagesForThisTheme(2, themes.id);"
                  vertical-align="center"
                >
                  <b-img
                    slot="aside"
                    class="shadow-primary"
                    :src="themes.img_background"
                    rounded
                    blank-color="#ccc"
                    height="60"
                    :alt="themes.name"
                  />
                  <div class="mt-3 text-uppercase">
                    <b>{{themes.name}}</b>
                  </div>
                  <div v-if="themeAtual.id === themes.id" class="text-success">
                    <i class="fas fa-check-circle"></i> selecionado
                  </div>
                </b-media>
              </div>

              <div v-if="!themesArr" style="margin-left: 2vw;">
                <b-alert show variant="secondary">Carregando temas..</b-alert>
              </div>
            </div>
          </div>

          <div class="drawer-pages" v-if="themeAtual">
            <div class="border-bottom p-1">PÁGINAS</div>

            <div class="drawer-overflow bg-white border-bottom text-uppercase">
              <div class="p-2">
                <div class="mb-2 bg-light border rounded p-2">
                  <b>
                    <i class="fas fa-folder-open mr-2"></i> Bandeirola
                  </b>
                </div>

                <div class="ml-4 mb-2 bg-light border rounded p-2">
                  <b>
                    <i class="fas fa-folder-open mr-2"></i>
                    {{ (themeAtual.name) ? themeAtual.name : 'Tema' }}
                  </b>
                </div>

                <div
                  class="ml-5 mb-2 bg-light border rounded p-2"
                  v-for="(value, key) in pagesArr"
                  v-bind:key="key"
                >
                  <a :href="'#clone'+(key+1)">
                    <div>
                      <i class="fas fa-file-alt mr-2"></i>
                      {{ value.name }}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="drawer-grid">
          <div class="bg-light border-bottom shadow-sm p-1">GRID
            <div style="width: 50%; float: right" class="text-right cursor-pointer zoom-links">
              <a class="p-1" @click="zoomChange(25)" href="#clone1">25%</a>
              <a class="border-left p-1" @click="zoomChange(50)" href="#clone1">50%</a>
              <a class="border-left p-1" @click="zoomChange(100)" href="#clone1">100%</a>
            </div>
          </div>

          <div class="drawer-overflow">
            <b-container v-bind:class="zoomGrid">
              <b-row>
                <div class="border1" id="clone1">
                  <div class="banderole" v-if="themeAtual">
                    <img :src="imgbg1" class="banderole-theme" @load=" loadedTheme()">
                    <div class="banderole-logo" v-bind:class="{ 'uploadLogoBorder': !logoImg }">
                      <!-- <input
                        type="file"
                        v-if="!logoImg"
                        @change="onFileChange"
                        name="file"
                        class="upload"
                        id="file"
                        accept=".png"
                        style="display: none"
                      >-->
                      <!-- <label for="file" v-if="!logoImg"> -->
                      <div class="upload-area" v-if="!hasImg" @click="$refs.Croppermodal.show()">
                        <img src="static/ico_upload_img.png">
                        <h6>Enviar Logo</h6>
                      </div>
                      <!-- </label> -->
                      <img v-if="hasImg" :src="logoImg">
                    </div>
                  </div>
                  <div class="instruction-label" v-if="!(themeAtual)">
                    <div class="spinner3">
                      <div v-if="!themeAtual" class="text-center text-muted">
                        <h1>
                          <br>Selecione um tema para começar
                          <br>
                          <br>
                          <i class="fas fa-arrow-left fa-4x"></i>
                        </h1>
                      </div>
                      <div v-if="themeAtual && (pageAtual == -1)">
                        <h5>Agora, selecione uma página</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </b-row>
              <b-row>
                <div class="border1" id="clone2">
                  <div class="banderole" v-if="themeAtual">
                    <img :src="imgbg2" class="banderole-theme" @load="loadedTheme">
                  </div>
                </div>
              </b-row>
            </b-container>
          </div>
        </div>

        <div class="drawer-col-2 bg-light">
          <div class="drawer-logo" v-if="themeAtual">
            <div class="border-bottom p-1">LOGO</div>

            <div class="drawer-overflow bg-white border-bottom">
              <div class="text-center border rounded p-3">
                <i v-if="!logoImg" class="fas fa-image fa-8x text-muted"></i>
                <b-img v-if="logoImg" :src="logoImg" fluid style="max-height: 150px"/>
              </div>

              <div class="settings">
                <div class="upload-logo">
                  <!-- <input
                    type="file"
                    @change="onFileChange"
                    accept=".png"
                    id="upload_propert"
                    style="display: none;"
                  >-->
                  <!-- <label for="upload_propert" v-if="!logoImg"> -->
                  <div
                    class="btn btn-lg btn-orange"
                    v-if="!hasImg"
                    @click="$refs.Croppermodal.show()"
                  >
                    <i class="fas fa-upload"></i>
                    <br>ENVIAR SUA MARCA
                  </div>
                  <!-- </label> -->
                  <div class="btn btn-sm btn-red" v-if="hasImg" @click="clearLogo()">
                    <i class="fas fa-trash"></i>
                    REMOVER LOGO
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Notifications from "vue-notification";
import jsPDF from "jspdf";
import EditMenu from "@/components/EditMenu";
import Swal from "sweetalert2";

var domtoimage = require("dom-to-image");
var FileSaver = require("file-saver");

export default {
  name: "Banderole",
  components: {
    EditMenu
  },
  data() {
    return {
      croppa: {},
      hasImg: false,
      dataSavedModel: false,
      isSavedModel: false,
      themeProvider: require("@/providers/ThemeProvider.js"),
      materialProvider: require("@/providers/MaterialProvider.js"),
      pageProvider: require("@/providers/PageProvider.js"),
      logoImg: false,
      atualMaterial: false,
      spinnerGlobal: true,
      imgbg1: null,
      imgbg2: null,
      pageAtual: -1,
      pagesArr: [],
      themeAtual: false,
      themesArr: [],
      disable: false,
      prodEnv: require("@/config/prod.env.js"),
      zoomGrid: "zoom-100",
      loaderTheme: null
    };
  },
  methods: {
    showLoading(theme) {
      if (this.themeAtual != theme) {
        this.loaderTheme = this.$loading.show();
      }
    },
    zoomChange: function(z) {
      this.zoomGrid = "zoom-" + z;
    },
    loadedTheme: function() {
      this.loaderTheme.hide();
    },
    clearLogo() {
      this.logoImg = false;
      this.hasImg = false;
      localStorage.setItem("isModified", true);
    },
    saveImage(resize, options) {
      return new Promise((resolve, reject) => {
        domtoimage.toPng(resize, options).then(blob => {
          resolve(blob);
        });
      });
    },
    async saveImg(tam, png) {
      var self = this;
      //return new Promise(resolve => {
      tam = self.pageAtual.width;
      if (self.logoImg) {
        let loading = this.$loading.show();
        var b1 = document.getElementById("clone1");
        var b2 = document.getElementById("clone2");

        var default_W = b1.style.width;
        var default_H = b1.style.height;

        b1.style.width = tam + "px";
        b2.style.width = tam + "px";

        // var img = document.getElementsByClassName("banderole-background");
        var height = self.$refs.bg;
        // var modifi = pai.childNodes[0];
        var options = {
          quality: 1,
          width: tam
        };

        let promise;
        let capa;
        let contracapa;

        promise = this.saveImage(b1, options);
        capa = await promise;

        promise = this.saveImage(b2, options);
        contracapa = await promise;

        if (png == 1) {
          var d = new Date();
          FileSaver.saveAs(
            capa,
            "Bandeirola - " + self.themeAtual.name + " - Frente.png"
          );
          FileSaver.saveAs(
            contracapa,
            "Bandeirola - " + self.themeAtual.name + " - Verso.png"
          );
        } else {
          self.createPDF(capa, contracapa);
        }

        b1.style.width = default_W;
        b1.style.height = default_H;
        b2.style.width = default_W;
        b2.style.height = default_H;
        loading.hide();
      } else {
        this.$swal({
          title: "Erro!",
          text: "Você precisa editar seu modelo antes de exportar.",
          type: "warning"
        });
      }
      //});
    },
    createPDF(capa, contracapa) {
      var self = this;
      let pdfName = "test";
      var doc = new jsPDF({
        orientation: "portrait",
        unit: "mm",
        format: "a4"
      });
      var width = 183.95;
      var height = 297;

      var pageMarginX = 15;
      var pageMarginY = 15;
      var pageWidth = 210 - pageMarginX * 2;
      var pageHeight = 297 - pageMarginY * 2;
      var imageWidth = 990 / 3.7795275591;
      var imageHeight = 1600 / 3.7795275591;

      if (imageWidth > pageWidth) imageWidth = pageWidth;

      if (imageHeight > pageHeight) imageHeight = pageHeight;

      pageMarginX = (210 - imageWidth) / 1.3;
      pageMarginY = (297 - imageHeight) / 2;

      doc.addImage(
        capa,
        "PNG",
        pageMarginX,
        pageMarginY,
        imageWidth,
        imageHeight,
        "Frente",
        "NONE"
      );
      doc.addPage();
      doc.addImage(
        contracapa,
        "PNG",
        pageMarginX,
        pageMarginY,
        imageWidth,
        imageHeight
      );
      var d = new Date();
      doc.save(`Bandeirola - ${this.themeAtual.name}.pdf`);

      // var self = this;
      // let pdfName = "test";
      // var doc = new jsPDF({
      //   format: [width, height],
      //   orientation: "portrait",
      //   format: "a4"
      // });
      // var width = self.pageAtual.width;
      // var height = self.pageAtual.height;
      // doc.addImage(imagem, "PNG", 0, 0, width, height);
      // var d = new Date();
      // doc.save(`Bandeirola - ${this.themeAtual.name}.pdf`);
    },
    saveImgMiniature() {
      self = this;
      return new Promise(resolve => {
        //tam = self.pageAtual.width;
        if (self.logoImg) {
          self.spinnerGlobal = true;
          //var pai = document.getElementById("clone1");
          var resize = document.getElementById("clone1");
          var default_W = resize.style.width;
          var default_H = resize.style.height;
          //resize.style.width = tam + "px";
          //var img = document.getElementsByClassName("banderole-background");
          var height = self.$refs.bg;
          //var modifi = pai.childNodes[0];
          var options = {
            quality: 1
            //width: tam
          };
          domtoimage.toBlob(resize, options).then(blob => {
            self.saveImagesBlob(blob).then(t => {
              self.previewSaved = t;
              resolve(t);
            });
            resize.style.width = default_W;
            resize.style.height = default_H;
          });
        } else {
          this.$swal({
            title: "Erro!",
            text: "Você precisa editar seu modelo antes de exportar.",
            type: "warning"
          });
        }
      });
    },
    onFileChange(e) {
      const file = e.target.files[0];
      this.itemIsEditing.img = URL.createObjectURL(file);
      localStorage.setItem("isModified", true);
    },
    saveImagesBlob(file) {
      var self = this;
      return new Promise(resolve => {
        var formData = new FormData();
        formData.append("object", file);
        self.$http
          .post(self.prodEnv.API_URL + "/storage", formData, {
            crossDomain: true,
            headers: { "content-type": "multipart/form-data" }
          })
          .then(resp => {
            resolve(
              String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
            );
          });
      });
    },

    enableLayout() {
      var self = this;
      self.imgbg1 = self.pagesArr[0].background_path;
      self.imgbg2 = self.pagesArr[1].background_path;
      // if (self.pageAtual.name == "Verso") {
      //   self.disable = true;
      //   self.logoImg = true;
      // } else {
      //   self.disable = false;
      // }
    },
    urltoFile(url, filename, mimeType) {
      mimeType = mimeType || (String(url).match(/^data:([^;]+);/) || "")[1];
      return fetch(url)
        .then(function(res) {
          return res.arrayBuffer();
        })
        .then(function(buf) {
          return new File([buf], filename, { type: mimeType });
        });
    },
    createMaterial(data) {
      var self = this;
      return new Promise(resolve => {
        var idmaterial = self.atualMaterial.id;

        var formData = new FormData();
        formData.append("data", data);
        var url =
          self.prodEnv.API_URL +
          "/user/material/create?user_id="+JSON.parse(localStorage.getItem("user")).user.id+"&material_id=" +
          idmaterial;
        this.$http.post(url, { data: JSON.stringify(data) }).then(resp => {
          self.dataSavedModel = data;
          self.dataSavedModel.id = resp.body.material_user_id;
          resolve(resp);
        });
      });
    },
    saveImages(file) {
      var self = this;
      var result = null;
      return new Promise(resolve => {
        self.urltoFile(file).then(function(res) {
          var formData = new FormData();
          formData.append("object", res);
          self.$http
            .post(self.prodEnv.API_URL + "/storage", formData, {
              crossDomain: true,
              headers: { "content-type": "multipart/form-data" }
            })
            .then(resp => {
              resolve(
                String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
              );
            });
        });
      });
    },
    saveAll() {
      var self = this;
      let loading = this.$loading.show();
      if (self.logoImg) {
        var produtos = this.produtosGrid;
        var logo;
        var text1 = this.htmlForEditor;
        var text2 = this.htmlForEditor2;
        self.saveImages(self.logoImg).then(resp => {
          var logo = resp;
          self.saveImgMiniature().then(ur => {
            var myjson = {
              Logo: resp,
              Pagina: self.pageAtual.id,
              miniature: ur,
              theme: self.themeAtual.id
            };
            if (!self.isSavedModel) {
              self.createMaterial(myjson).then(r => {
                loading.hide();
                localStorage.setItem("isModified", false);
                self.isSavedModel = true;
              });
            } else {
              self.updateMaterial(myjson).then(r => {
                loading.hide();
                localStorage.setItem("isModified", false);
              });
            }
            loading.hide();
            this.$swal({
              title: "Sucesso!",
              text: "Material salvo com sucesso!",
              type: "success"
            });
          });
        });
      } else {
        loading.hide();
        this.$swal({
          title: "Erro!",
          text: "Você precisa editar seu modelo antes de salvar.",
          type: "warning"
        });
      }
    },

    showModalFinalizar() {
      Swal.fire({
        title: "Salvar material",
        text: "Como você quer baixar seu modelo?",
        showCancelButton: true,
        confirmButtonColor: "#007BFF",
        cancelButtonColor: "#F47200",
        confirmButtonText: '<i class="fas fa-image"></i> Download de Imagem',
        cancelButtonText:
          '<i class="fas fa-file-pdf"></i> Download de arquivo PDF'
      }).then(result => {
        if (result.value) {
          // por limitações do componente, um botão retorna valor e o outro não. quando tem valor é download de imagem
          this.saveImg(this.pageAtual.height, 1);
        } else if (result.dismiss == "cancel") {
          this.saveImg(this.pageAtual.height, 0);
        }
      });
      // if (this.$refs.finalizar) this.$refs.finalizar.show();
    },
    hideModalFinalizar() {
      this.$refs.finalizar.hide();
    },
    notify(titulo, texto, tempo) {
      this.$notify({
        group: "foo",
        type: "sucess",
        title: titulo,
        classes: "notify",
        text: texto,
        duration: tempo,
        data: {}
      });
    },
    getPagesForThisTheme(idM, idT) {
      // if (!this.loaderTheme) this.loaderTheme = this.$loading.show();

      var self = this;
      return new Promise(resolve => {
        self.pagesArr = [];
        self.themeProvider.default
          .getTheme(idM, idT)
          .then(result => {
            if (result) {
              //self.themeAtual = result;
              var pages = result.body.data.pages;
              self.pagesArr = pages;
              self.imgbg1 = self.pagesArr[0].background_path;
              self.imgbg2 = self.pagesArr[1].background_path;
              self.spinnerGlobal = false;
            }
          })
          .then(id => {
            self.pageProvider.default
              .getPages(idM)
              .then(result => {
                if (result) {
                  resolve(
                    result.forEach(item => {
                      self.pagesArr.forEach((page, key) => {
                        if (item.id == page.page_id) {
                          page.width = item.width;
                          page.height = item.height;
                        }
                        if (key == 0) {
                          self.pageAtual = page;
                        }
                      });
                    })
                  );
                }
              })
              .catch(resp => {});
          })
          .catch(resp => {});
      });
    },
    getThemes(id) {
      return new Promise(resolve => {
        let loader = this.$loading.show();
        var self = this;
        self.themeProvider.default
          .getThemes(id)
          .then(result => {
            let themeA = result.body;
            if (themeA.status == 1) {
              self.themesArr = [];
              themeA.data.forEach(value => {
                resolve(
                  self.themesArr.push({
                    id: value.id,
                    name: value.name,
                    path_cover: value.cover_path,
                    img_background: value.cover_path,
                    identifier: value.identifier,
                    pages: value.pages,
                    prices: value.prices
                  })
                );
                //self.getPagesForThisTheme(id, value.id);
              });
            }
            loader.hide();
          })
          .catch(err => {
            loader.hide();
            throw new Error(err.message);
          });
      });
    },
    getimagecrop(type, compressionRate) {
      var self = this;

      this.croppa.generateBlob(
        blob => {
          var url = URL.createObjectURL(blob);
          self.logoImg = url;
        },
        type,
        compressionRate
      );

      self.$refs.Croppermodal.hide();
      self.croppa.remove();
      this.hasImg = true;
    },
    getAtualMaterial(id) {
      var self = this;
      self.materialProvider.default
        .getMaterial(id)
        .then(result => {
          if (result.status == 1) {
            self.atualMaterial = result.data;
            self.getThemes(result.data.id).then(r => {
              if (!self.themeAtual) {
                self.themesArr.forEach(theme => {
                  if (
                    self.dataSavedModel &&
                    theme.id === self.dataSavedModel.json.theme
                  )
                    self.themeAtual = theme;
                });

                self.getPagesForThisTheme(result.data.id, self.themeAtual.id);
              }
            });
          }
        })
        .catch(err => {
          throw new Error(err.message);
        });
    },

    onFileChange(e) {
      const file = e.target.files[0];
      this.logoImg = URL.createObjectURL(file);
      localStorage.setItem("isModified", true);
    },
    updateMaterial(data) {
      var self = this;
      var idmaterial = self.dataSavedModel.id;
      return new Promise(resolve => {
        var url =
          self.prodEnv.API_URL +
          "/user/material/update?material_user_id=" +
          idmaterial;
        this.$http.post(url, { data: JSON.stringify(data) }).then(resp => {
          resolve(resp);
        });
      });
    },
    showModal() {
      this.$refs.themesModal.show();
    },
    closeModal() {
      this.$refs.themesModal.hide();
    },
    updateMouted() {
      let dados = this.$router.history.current.params.dados;
      this.dataSavedModel = dados;
      var storage = this.prodEnv.API_STORAGE;
      this.logoImg = storage + dados.json.Logo;
      this.hasImg = true;
      //let bg = dados.img;
      this.getAtualMaterial(dados.material_id);
    }
  },

  mounted() {
    var self = this;
    this.showModal();
    if (self.$router.history.current.params.dados) {
      self.isSavedModel = true;
      self.updateMouted();
    } else {
      self.getAtualMaterial(2);
      self.showModal();
    }
  }
};
</script>
<style scoped>
.upload-area {
  margin: auto;
  margin-top: 40px;
  width: 200px;
  height: 137px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
}

.upload-area img {
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}
.navbar-row {
  display: flex;
  justify-content: center;
}
.home i,
.home span {
  color: white;
}
.edit-area {
  height: auto;
  background-color: #eef0f4;
}
.theme {
  cursor: pointer;
}
.col-md-12 {
  /*display: flex;*/
}
.col-md-12,
.col-md-6 {
  /*height: 100%;*/
}
.col-md-3 {
  /*padding: 0;
  height: 100vh;*/
}
.col-md-6 {
  /*background-color: #eef0f4;*/
}

.dashboard {
  padding: 0;
  margin: 70px 0 0;
  background: white;
}

.page-select {
  padding-top: 15px;
  height: 25%;
  overflow-y: auto;
}
.page-select a {
  color: black;
}
.pages {
  font-size: 13px;
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: left;
}
.page {
  cursor: pointer;
  margin: 5px 0 0 20px;
}

.theme-select {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
span.title {
  font-size: 12px;
  font-weight: bold;
}

.themes-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10px 0 10px;
}
.theme {
  padding: 0;
}
.border1,
.border1 img {
  width: 100%;
  margin: auto;
}

.page-and-theme {
}

.instruction-label {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  color: #f47200;
}
.logo-contain {
  position: absolute;
  bottom: 5.8%;
  background: transparent;
  left: 27%;
  width: 44%;
  height: 17.5%;
  border-radius: 141%;
}
.upload-image-button i {
  font-size: 14px;
}

.swal2-confirm {
  margin: 10px !important;
}
.config {
  position: fixed;
  right: 0;
}
.btn-success {
  margin-left: 10px;
}
.upload-image-button span {
  margin-left: 5px;
  font-size: 14px;
}

.upload-logo {
  cursor: pointer;
  font-size: 12px;
}
.delete-logo {
  cursor: pointer;
  font-size: 12px;
}
.settings {
  text-align: center;
}

/* canvas-area */

.canvas-area {
  display: flex;
  justify-content: center;
}

.button-row {
  text-align: center;
}

.croppa-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 0px;
}

.croppa-container:hover {
  opacity: 1;
  background-color: #dfdfdf;
}

.buttonFlips {
  font-size: 0.7rem;
  background: #d6d6d6;
  border: 2px solid transparent;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}
.buttonFlips:hover {
  background: #fff;
  border: 2px solid #d6d6d6;
}

.concluirbutton {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 0px;
  background: #f47200;
  color: white;
  border: 2px solid transparent;
}

/* canvas-area */

.banderole {
  position: relative;
}
.banderole-logo {
  position: absolute;
  bottom: 6.5%;
  background: transparent;
  left: 33%;
  width: 33.3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 17.1%;
}
.banderole-logo img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.select-theme-modal {
  font-size: 12px;
}
.banderole-space {
  background: #eef0f4;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  min-height: 100vh;
}
.themes-row {
  min-height: 200px;
}

.btn-orange {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #f47200;
  border: 1px solid #f47200;
  font-size: 15px;
}
.btn-orange:hover {
  background-color: #f47200;
  color: white;
}
.btn-red {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #dc3545;
  border: 1px solid #dc3545;
  font-size: 15px;
}
.btn-red:hover {
  background-color: #dc3545;
  color: white;
}
label {
  width: 100%;
}
.uploadLogoBorder {
  border: 1px dashed #adb5c0;
}
</style>
