<template>
  <div id="jornal">
    <!-- NAVBAR TOPO -->
    <div class="header">
      <EditMenu @save-all="saveAll();" @download="download();"/>
    </div>
    <b-modal
      id="modal-center"
      size="lg"
      centered
      title="Selecione um tema"
      ref="themesModal"
      hide-footer
      hide-header
      v-if="!isSavedModel"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
    >
      <h4>Selecione um tema</h4>
      <hr>
      <div class="text-center">
        <div class="row" v-if="themesArr">
          <div
            class="col-md-4 padding-bottom"
            v-for="(themes, index) in themesArr"
            :key="index"
            @click="showLoading(themes); pagesLoaded = 0 ;themeAtual = themes; getPagesForThisMaterial(); closeModal();"
          >
            <div class="border rounded p-2 cursor-pointer">
              <b-row>
                <b-col class="text-center">
                  <b-img rounded :src="themes.img_background" :alt="themes.name" height="100"/>
                  <div class="text-center">
                    <hr>
                    <h6>
                      <b>{{themes.name}}</b>
                    </h6>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </div>
    </b-modal>

    <div class="edit-area">
      <div class="drawer d-flex align-items-stretch">
        <div class="drawer-col-1 bg-light">
          <div class="drawer-themes" v-if="themeAtual">
            <div class="border-bottom p-1">TEMAS</div>

            <div class="drawer-overflow bg-white border-bottom">
              <div v-if="themesArr">
                <b-media
                  class="cursor-pointer border rounded p-2 mb-2 bg-light"
                  v-for="(themes, index) in themesArr"
                  :key="index"
                  @click="showLoading(themes); pagesLoaded = 0 ;themeAtual = themes; closeModal();"
                  vertical-align="center"
                >
                  <b-img
                    slot="aside"
                    class="shadow-primary"
                    :src="themes.img_background"
                    rounded
                    blank-color="#ccc"
                    height="60"
                    :alt="themes.name"
                  />
                  <div class="mt-3 text-uppercase">
                    <b>{{themes.name}}</b>
                  </div>
                  <div v-if="themeAtual.id === themes.id" class="text-success">
                    <i class="fas fa-check-circle"></i> selecionado
                  </div>
                </b-media>
              </div>
              <div v-if="!themesArr" style="margin-left: 2vw;">
                <b-alert show variant="secondary">Carregando temas..</b-alert>
              </div>
            </div>
          </div>

          <div class="drawer-pages" v-if="themeAtual">
            <div class="border-bottom p-1">PÁGINAS</div>

            <div class="drawer-overflow bg-white border-bottom text-uppercase">
              <div class="p-2">
                <div class="mb-2 bg-light border rounded p-2">
                  <b>
                    <i class="fas fa-folder-open mr-2"></i> Jornal de Ofertas
                  </b>
                </div>

                <div class="ml-4 mb-2 bg-light border rounded p-2">
                  <b>
                    <i class="fas fa-folder-open mr-2"></i>
                    {{ (themeAtual.name) ? themeAtual.name : 'Tema' }}
                  </b>
                </div>

                <div
                  class="ml-5 mb-2 bg-light border rounded p-2"
                  v-for="(value, key) in allPages"
                  v-bind:key="key"
                >
                  <a :href="'#page'+key">
                    <div>
                      <i class="fas fa-file-alt mr-2"></i>
                      {{ value.name }}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="drawer-grid">
          <div class="bg-light border-bottom shadow-sm p-1">GRID
            <div style="width: 50%; float: right" class="zoom-links text-right cursor-pointer">
              <a class="p-1" @click="zoomChange(25)" href="#page0">25%</a>
              <a class="border-left p-1" @click="zoomChange(50)" href="#page0">50%</a>
              <a class="border-left p-1" @click="zoomChange(100)" href="#page0">100%</a>
            </div>
          </div>

          <div class="drawer-overflow">
            <b-container v-bind:class="zoomGrid" class="material-contain">
              <div
                class="journal-page"
                v-for="(value, key) in allPages"
                v-bind:key="key"
                :value="value"
                :id="'page'+key"
              >
                <!-- @changeLogo="editarLogo($event)" -->
                <Capa
                  @clicked="editarProduto($event)"
                  @openModal="editType = 'logo'; editarLogo()"
                  v-if="key == 0"
                  @loaded="pagesLoaded += 1; loadedTheme()"
                  :myData="value"
                  :storage="storage"
                  :themeAtual="themeAtual"
                  :isSavedModel="isSavedModel"
                  :logo="logo"
                  :upload="upload"
                  :products="products[value.id]"
                />
                <PaginaInterna
                  @clicked="editarProduto($event)"
                  v-if="key > 0 && key < allPages.length-1"
                  @loaded="pagesLoaded += 1; loadedTheme()"
                  :myData="value"
                  :storage="storage"
                  :themeAtual="themeAtual"
                  :isSavedModel="isSavedModel"
                  :products="products[value.id]"
                  :identificator="key"
                />
                <ContraCapa
                  @clicked="editarProduto($event)"
                  @loaded="pagesLoaded += 1; loadedTheme()"
                  @clickedText="editarTexto($event)"
                  @openModal="editType = 'logo'; editarLogo()"
                  v-if="key > 0 && key == allPages.length-1"
                  :myData="value"
                  :storage="storage"
                  :themeAtual="themeAtual"
                  :isSavedModel="isSavedModel"
                  :logo="logo"
                  :upload="upload"
                  :products="products[value.id]"
                  :texts="texts"
                />
              </div>
            </b-container>
          </div>
        </div>

        <div class="drawer-col-2 bg-light">
          <div class="drawer-logo" v-if="themeAtual">
            <div class="border-bottom p-1">EDIÇÃO DE PRODUTO</div>
            <b-container fluid v-if="itemIsEditing">
              <b-row>
                <b-col class="product-image">
                  <img
                    v-if="itemIsEditing.img"
                    :src="itemIsEditing.img.indexOf('uploads') !== -1 ? storage + itemIsEditing.img : itemIsEditing.img"
                    alt="#"
                  >
                  <img v-else src="static/itens/chapa.jpg" alt="chapa">
                  <br>
                  <input
                    type="file"
                    @change="onFileChange"
                    accept=".png, .jpg"
                    id="upload_propert"
                    style="display: none"
                  >
                  <button
                    @click="$refs.Croppermodal.show();bgshow = false;itemIsEditing.selected = false;"
                    class="btn-upload-img-label"
                  >Enviar Foto</button>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group label="Tipo de oferta" label-for="select-layout">
                    <b-form-select v-model="itemIsEditing.priceType" id="select-layout" size="sm">
                      <option value="1">Preço Comum</option>
                      <option value="2" selected>De, Por</option>
                      <option value="3">Oferta Especial</option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row v-if="itemIsEditing.priceType != 3">
                <b-col>
                  <b-form-group label="Título" label-for="product-title">
                    <b-form-textarea
                      size="sm"
                      id="product-title"
                      :rows="1"
                      :max-rows="3"
                      v-model="itemIsEditing.dsc"
                    ></b-form-textarea>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row v-if="itemIsEditing.priceType == 2">
                <b-col>
                  <b-form-group label="Texto superior" label-for="de-por">
                    <b-form-input size="sm" id="de-por" v-model="itemIsEditing.de_por"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row v-if="itemIsEditing.priceType != 3">
                <b-col>
                  <b-form-group label="Valor" label-for="price">
                    <b-form-input size="sm" id="price" v-model="itemIsEditing.price"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="Unidade" label-for="und">
                    <b-form-input size="sm" id="und" v-model="itemIsEditing.und"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row v-if="itemIsEditing.priceType == 3">
                <b-col>
                  <b-form-group label="Texto de oferta" label-for="special">
                    <b-form-input size="sm" id="special" v-model="itemIsEditing.oferta"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <span>Estilo de etiqueta</span>
                  <b-row>
                    <b-col
                      v-for="(price,key) in themeAtual.prices"
                      v-bind:key="key"
                      cols="4"
                      class="bg-tag"
                    >
                      <img
                        :src="price.background_path"
                        @click="updateTicketPrice(price.background_path,price.color_text)"
                      >
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-container>
            <b-container fluid v-if="editor && textIsEditing">
              <b-row>
                <b-col>
                  <b-form-textarea
                  id="htmleditor"
                  v-model="textIsEditing.text"
                  :rows="5"
                  :max-rows="6"
                ></b-form-textarea>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </div>
      </div>
    </div>

    <b-modal ref="Croppermodal" centered hide-header hide-footer style="z-index: 10020!important;">
      <b-alert show dismissible fade variant="success">
        <p style="font-size: 12px;">
          Você pode usar as funções arrasta e solta, ou se preferir clique para fazer o upload de sua imagem.
          Use o scroll do mouse como zoom e arraste para posicionar sua imagem.
        </p>
      </b-alert>
      <div class="container">
        <div class="row">
          <div class="col-md-12 canvas-area">
            <croppa
              v-model="croppa"
              :width="300"
              :height="300"
              placeholder="Faça upload da sua imagem"
              placeholder-color="#000"
              :placeholder-font-size="16"
              canvas-color="#ffffff"
              :show-remove-button="true"
              remove-button-color="black"
              :show-loading="true"
              :loading-size="50"
            ></croppa>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>
              <button class="buttonFlips" @click="croppa.rotate()">Girar 90º</button>
              <button class="buttonFlips" @click="croppa.rotate(2)">Girar 180º</button>
              <button class="buttonFlips" @click="croppa.rotate(-1)">Girar -90º</button>
              <button class="buttonFlips" @click="croppa.flipX()">Flip Horizontal</button>
              <button class="buttonFlips" @click="croppa.flipY()">Flip Vertical</button>
            </div>
            <div class="button-row">
              <button
                class="concluirbutton"
                @click="getimagecrop('image/jpeg', 0.8)"
              >Concluir Edição</button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import VueGridLayout from "vue-grid-layout";
import Capa from "@/components/Capa.vue";
import PaginaInterna from "@/components/PaginaInterna.vue";
import ContraCapa from "@/components/ContraCapa.vue";
import EditMenu from "@/components/EditMenu.vue";
import Swal from "sweetalert2";
import vueSlider from "vue-slider-component/src/vue-slider.vue";
var domtoimage = require("dom-to-image");
var FileSaver = require("file-saver");
import { VueEditor } from "vue2-editor";
import jsPDF from "jspdf";

export default {
  name: "Jornal",
  components: {
    Capa,
    PaginaInterna,
    ContraCapa,
    VueEditor,
    EditMenu,
    vueSlider
  },
  watch: {
    themeAtual: function(newVal, oldVal) {
      console.log("NOVO TEMA:");
      console.log(newVal.prices[0]);

      if(newVal.prices.length > 0)
        this.updateTicketPriceNewTheme(newVal.prices[0].background_path,newVal.prices[0].color_text)
    }
  },
  mounted() {
    var self = this;
    this.showModal();
    //self.showModalFinalizar();
    if (self.$router.history.current.params.dados) {
      self.isSavedModel = true;
      self.updateMouted(self);
    } else {
      let idJornal = 0;
      try {
        let uri = window.location.href.split("?");
        if (uri.length == 2) {
          let vars = uri[1].split("&");
          let tmp = "";
          vars.forEach(function(v) {
            tmp = v.split("=");
            tmp[1] = parseInt(tmp["1"]);
            if (
              tmp.length == 2 &&
              tmp[0] === "id" &&
              !isNaN(tmp[1]) &&
              isFinite(tmp[1])
            ) {
              if (tmp[1] > 0) {
                idJornal = tmp[1];
                self.getAtualMaterial(idJornal).then(r => {
                  self.getThemes(idJornal).then(q => {
                    self.showModal();
                  });
                });
              }
            }
          });
        }
      } catch (err) {
        //showError("Houve um erro ao processar as informações iniciais deste modelo.");
      } finally {
        //if(idJornal == 0)
        //showError("Há falta de informações iniciais para este modelo.");
      }
    }
  },
  data() {
    return {
      croppa: {},
      grid: 3,
      cols: 9,
      editType: "",
      storage: require("@/config/prod.env.js").API_STORAGE,
      themeProvider: require("@/providers/ThemeProvider.js"),
      materialProvider: require("@/providers/MaterialProvider.js"),
      pageProvider: require("@/providers/PageProvider.js"),
      atualMaterial: null,
      allPages: null,
      themeAtual: false,
      themesArr: null,
      prodEnv: require("@/config/prod.env.js"),
      img_property: "static/ico_img.png",
      show: true,
      bgshow: false,
      itemIsEditing: false,
      textIsEditing: false,
      isSavedModel: false,
      logo: null,
      upload: true,
      editor: false,
      products: [],
      texts: [],
      loadingThemes: null,
      idAtual: 0,
      zoomGrid: "zoom-100",
      pagesLoaded: 0
    };
  },

  methods: {
    showLoading(theme) {
      if (this.themeAtual != theme) {
        this.loadingThemes = this.$loading.show();
      }
    },
    loadedTheme() {
      if (this.allPages.length == this.pagesLoaded) {
        if (this.loadingThemes) {
          this.loadingThemes.hide();
          this.loadingThemes = null;
        }
      }
    },
    zoomChange: function(z) {
      this.zoomGrid = "zoom-" + z;
    },
    updateTicketPrice(image, color) {
      this.itemIsEditing.bg_price = image;
      this.itemIsEditing.color_price = color;
      this.products.forEach((prod, keyA) => {
        prod.forEach((p, keyB) => {
          if (!p.edited) {
            p.bg_price = image;
            p.color_price = color;
          }
        });
      });
    },
    updateTicketPriceNewTheme(image, color) {
      this.products.forEach((prod, keyA) => {
        prod.forEach((p, keyB) => {
          p.bg_price = image;
          p.color_price = color;
        });
      });
    },
    updateMouted(self) {
      var dados = self.$router.history.current.params.dados;
      self.dataSavedModel = dados;
      if (dados.json.Logo) {
        self.upload = false;
        self.logo = self.storage + dados.json.Logo;
      }
      self.products = JSON.parse(JSON.stringify(dados.json.Produtos));
      self.getAtualMaterial(dados.material_id).then(y => {
        self.getThemes(dados.material_id).then(t => {
          self.texts[0] = { pos: 0, selected: false, text: dados.json.Texto };
          self.texts[1] = { pos: 1, selected: false, text: dados.json.Texto2 };
          self.themesArr.forEach(resp => {
            if (resp.id == dados.json.theme) {
              self.themeAtual = resp;
            }
          });

          self.getPagesForThisMaterial();
        });
      });
    },
    editarProduto(value) {
      this.productSelected(value);
    },
    editarTexto(value) {
      this.textSelected(value);
    },
    editarLogo() {
      this.logoSelected();
    },
    showModal() {
      this.$refs.themesModal.show();
    },
    closeModal() {
      this.$refs.themesModal.hide();
    },
    async saveJornal() {
      return new Promise((resolve, reject) => {
        var self = this;
        if (self.products && self.logo) {
          if (self.itemIsEditing) self.itemIsEditing.selected = false;
          var produtos = self.products;

          var logo;
          var text1 = this.texts[0].text;
          var text2 = this.texts[1].text;

          self.saveImages(self.logo).then(resp => {
            var logo = resp;
            self.saveImgMiniature().then(ur => {
              var promises = [];
              self.allPages.forEach(page => {
                produtos[page.id].forEach(prod => {
                  if (
                    prod.img !== "static/itens/chapa.jpg" &&
                    prod.img.indexOf("uploads") == -1
                  ) {
                    promises.push(
                      self
                        .saveImages(prod.img)
                        .then(r => {
                          prod.img = r;
                        })
                        .catch(ex => {})
                    );
                  }
                  prod.resultImage = false;
                });
              });

              Promise.all(promises).then(r => {
                var myjson = {
                  id: "",
                  Logo: logo,
                  Produtos: produtos,
                  Texto: text1,
                  Texto2: text2,
                  miniature: ur,
                  theme: self.themeAtual.id
                };
                if (!self.isSavedModel) {
                  self.createMaterial(myjson).then(r => {
                    self.dataSavedModel.id = r.body.material_user_id;
                    self.isSavedModel = true;
                    localStorage.setItem("isModified", false);
                    resolve("success");
                  });
                } else {
                  self.updateMaterial(myjson).then(r => {
                    localStorage.setItem("isModified", false);
                    resolve("success");
                  });
                }
                resolve("success");
              });
            });
          });
        } else {
          this.$swal({
            type: "warning",
            title: "Atenção!",
            text: "Você deve editar seu material antes de salvar."
          });
          resolve("error");
        }
      });
    },
    notify(titulo, texto, tempo) {
      this.$notify({
        group: "foo",
        type: "sucess",
        title: titulo,
        classes: "notify",
        text: texto,
        duration: tempo,
        data: {}
      });
    },
    saveImages(file) {
      var self = this;
      var result = null;
      return new Promise(resolve => {
        self.urltoFile(file).then(function(res) {
          var formData = new FormData();
          formData.append("object", res);
          self.$http
            .post(self.prodEnv.API_URL + "/storage", formData, {
              crossDomain: true,
              headers: { "content-type": "multipart/form-data" }
            })
            .then(resp => {
              resolve(
                String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
              );
            });
        });
      });
    },
    urltoFile(url, filename, mimeType) {
      mimeType = mimeType || (String(url).match(/^data:([^;]+);/) || "")[1];
      return fetch(url)
        .then(function(res) {
          return res.arrayBuffer();
        })
        .then(function(buf) {
          return new File([buf], filename, { type: mimeType });
        });
    },
    hideEmptyProduct(value) {
      var x = document.getElementsByClassName("body-item-grid-out");
      var i;
      for (i = 0; i < x.length; i++) {
        x[i].style.display = value ? "none" : "";
      }
    },
    saveImgMiniature(tam) {
      var self = this;
      return new Promise(resolve => {
        self.spinnerGlobal = true;
        self.hideEmptyProduct(true);

        var modifi = document.getElementById("capa");

        var options = {
          quality: 1
        };
        domtoimage.toBlob(modifi, options).then(blob => {
          self.saveImagesBlob(blob).then(t => {
            self.previewSaved = t;
            self.hideEmptyProduct(false);
            resolve(t);
          });
        });
      });
    },
    updateMaterial(data) {
      var self = this;
      var idmaterial = self.dataSavedModel.id;
      return new Promise(resolve => {
        var url =
          self.prodEnv.API_URL +
          "/user/material/update?material_user_id=" +
          idmaterial;
        this.$http.post(url, { data: JSON.stringify(data) }).then(resp => {
          resolve(resp);
        });
      });
    },
    createMaterial(data) {
      var self = this;
      return new Promise(resolve => {
        var idmaterial = self.atualMaterial.id;

        var formData = new FormData();
        formData.append("data", data);
        var url =
          self.prodEnv.API_URL +
          "/user/material/create?user_id="+JSON.parse(localStorage.getItem("user")).user.id+"&material_id=" +
          idmaterial;
        this.$http.post(url, { data: JSON.stringify(data) }).then(resp => {
          self.dataSavedModel = data;
          self.dataSavedModel.id = resp.body.material_user_id;
          resolve(resp);
        });
      });
    },

    itemExpand(item, page_type) {
      var self = this;
      switch (page_type) {
        case "capa":
          self.itemExpandCoverAndBackCover(item);
          break;
        case "pagina":
          self.itemExpandInternPage(item);
          break;
      }
    },

    itemExpandCoverAndBackCover(item) {
      var titulo = item.getElementsByClassName("descricao-prod");
      var price = item.getElementsByClassName("price-ajust");
      var rss = item.getElementsByClassName("rs-ajust");
      var und = item.getElementsByClassName("und-ajust");
      var depor = item.getElementsByClassName("de-por-ajust");
      var oferta = item.getElementsByClassName("oferta-ajust");

      var str1 = titulo[0].innerHTML;
      var result1 =
        "<div style='font-size: 35px; text-align: center;'>" + str1 + "</div>";
      titulo[0].innerHTML = result1;

      if (price[0]) {
        var str2 = price[0].innerHTML;
        var result2 = str2.fontsize(25);
        price[0].innerHTML = result2;
      }
      if (rss[0]) {
        var str3 = rss[0].innerHTML;
        var result3 = str3.fontsize(5);
        rss[0].innerHTML = result3;
      }
      if (und[0]) {
        var str4 = und[0].innerHTML;
        var result4 = str4.fontsize(5);
        und[0].innerHTML = result4;
      }
      if (depor[0]) {
        var str5 = depor[0].innerHTML;
        var result5 = str5.fontsize(3);
        depor[0].innerHTML = result5;
      }
      if (oferta[0]) {
        var str6 = oferta[0].innerHTML;
        var result6 = str6.fontsize(6);
        oferta[0].innerHTML = result6;
      }
    },

    itemExpandInternPage(item) {
      var titulo = item.getElementsByClassName("descricao-prod");
      var price = item.getElementsByClassName("price-ajust");
      var rss = item.getElementsByClassName("rs-ajust");
      var und = item.getElementsByClassName("und-ajust");
      var depor = item.getElementsByClassName("de-por-ajust");
      var oferta = item.getElementsByClassName("oferta-ajust");

      //pega o titulo do produto, sem a tag SPAN onde ele esta
      var str1 = titulo[0].innerHTML;
      //adiciona uma DIV no texto do título
      var result1 =
        "<div style='font-size: 30px; text-align: normal;'>" + str1 + "</div>";
      //substitui o texto original pelo texto original dentro de uma div
      titulo[0].innerHTML = result1;

      if (price[0]) {
        var str2 = price[0].innerHTML;
        var result2 = "<div style='font-size: 30px'>" + str2 + "</div>";
        price[0].innerHTML = result2;
      }
      if (rss[0]) {
        var str3 = rss[0].innerHTML;
        var result3 = "<div style='font-size: 15px'>" + str3 + "</div>";
        rss[0].innerHTML = result3;
      }
      if (und[0]) {
        var str4 = und[0].innerHTML;
        var result4 = "<div style='font-size: 15px'>" + str4 + "</div>";
        und[0].innerHTML = result4;
      }
      if (depor[0]) {
        var str5 = depor[0].innerHTML;
        var result5 = "<div style='font-size: 15px'>" + str5 + "</div>";
        depor[0].innerHTML = result5;
      }
      if (oferta[0]) {
        var str6 = oferta[0].innerHTML;
        var result6 = "<div style='font-size: 10px'>" + str6 + "</div>";
        oferta[0].innerHTML = result6;
      }
    },

    saveImagesBlob(file) {
      var self = this;
      return new Promise(resolve => {
        var formData = new FormData();
        formData.append("object", file);
        self.$http
          .post(self.prodEnv.API_URL + "/storage", formData, {
            crossDomain: true,
            headers: { "content-type": "multipart/form-data" }
          })
          .then(resp => {
            resolve(
              String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
            );
          });
      });
    },
    enableLayout(myData, type) {
      let objects = [];
      objects[0] = [];
      objects[1] = [];
      let i = 0;
      let j = 0;
      myData.objects.forEach(value => {
        if (value.type.identifier == "product") {
          objects[0].push({
            selected: false,
            page_id: value.page_id,
            page_type: type,
            pos: i,
            x: value.position_x,
            y: value.position_y,
            w: value.width,
            h: value.height,
            i: value.index,
            priceType: 2,
            img: "static/itens/chapa.jpg",
            dsc: "Título do produto",
            price: "99,99",
            und: "und",
            de_por: "de R$ 99,99 por",
            bg_price: "static/thema/price-default-03.png",
            color_price: "#ffffff",
            oferta: "OFERTA ESPECIAL",
            resultImage: false,
            edited: false
          });
          i++;
        } else if (value.type.identifier == "editor") {
          objects[1].push({
            pos: j,
            selected: false,
            text:
              "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu stry s standard"
          });
          j++;
        }
      });
      return objects;
    },
    getPagesForThisMaterial() {
      var self = this;
      let loading = this.$loading.show();
      return new Promise(resolve => {
        self.pageProvider.default
          .getPages(self.atualMaterial.id)
          .then(result => {
            if (result) {
              self.allPages = result;
              var cont = self.allPages.length;
              if (!self.isSavedModel) {
                self.allPages.forEach((page, key) => {
                  let objects = self.enableLayout(
                    page,
                    key == 0 || key == cont - 1 ? "capa" : "pagina"
                  );
                  self.products[page.id] = objects[0];
                  self.texts = objects[1];
                });
              }
              loading.hide();
              resolve();
              // resolve(
              //   result.forEach((item, key) => {
              //     self.pagesArr.push(item);

              //     setTimeout(function() {
              //       self.spinnerGlobal = false;
              //     }, 1000);
              //   })
              // );
            }
          })
          .catch(resp => {
            // //console.error("Erro Pages:", resp);
            resolve();
          });
      });
    },
    getThemes(idMaterial) {
      return new Promise(resolve => {
        var self = this;
        self.themeProvider.default
          .getThemes(idMaterial)
          .then(result => {
            //Pós processamento
            let themeA = result.body;
            if (themeA.status == 1) {
              self.themesArr = [];
              themeA.data.forEach(value => {
                //Push para o array de temas

                self.themesArr.push({
                  id: value.id,
                  name: value.name,
                  path_cover: value.cover_path,
                  img_background: value.cover_path,
                  identifier: value.identifier,
                  pages: value.pages,
                  prices: value.prices
                });
              });
              resolve();
            }
          })
          .catch(err => {
            //exeption
            throw new Error(err.message);
          });
      });
    },

    getAtualMaterial(id) {
      var self = this;
      return new Promise(resolve => {
        self.materialProvider.default
          .getMaterial(id)
          .then(result => {
            if (result.status == 1) {
              resolve((self.atualMaterial = result.data));
            }
          })
          .catch(err => {
            throw new Error(err.message);
          });
      });
    },
    onFileChange(e) {
      var imgh = document.createElement("img");
      var img = URL.createObjectURL(e.target.files[0]);
      imgh.src = img;
      var w = imgh.width;
      var h = imgh.height;
      this.itemIsEditing.img = img;
    },
    getimagecrop(type, compressionRate) {
      var self = this;

      this.croppa.generateBlob(
        blob => {
          var url = URL.createObjectURL(blob);
          if (this.editType == "produto") {
            self.itemIsEditing.img = url;
          } else {
            self.logo = url;
          }
        },
        type,
        compressionRate
      );

      self.$refs.Croppermodal.hide();
      self.croppa.remove();
      self.bgshow = true;
      self.itemIsEditing.selected = true;
    },
    clearEditing() {
      // for (var i = 0; i < this.produtosGrid.length; i++) {
      //   this.produtosGrid[i].selected = false;
      // }
      this.bgshow = false;
      if (this.itemIsEditing) {
        this.itemIsEditing.selected = false;
        this.itemIsEditing = false;
      }
      if (this.textIsEditing) {
        this.textIsEditing.selected = false;
        this.textIsEditing = false;
      }
      this.editor = false;
    },

    productSelected(data) {
      this.bgshow = true;
      this.editType = "produto";
      this.itemIsEditing = this.products[data.page_id][data.pos];
      this.products[data.page_id][data.pos].selected = true;
      this.products[data.page_id][data.pos].edited = true;
      localStorage.setItem("isModified", true);
    },

    textSelected(data) {
      if (this.textIsEditing) {
        this.textIsEditing.selected = false;
        this.textIsEditing = false;
      }

      this.bgshow = true;
      this.textIsEditing = this.texts[data.pos];
      this.texts[data.pos].selected = true;
      this.editor = true;

      console.log(this.bgshow,
      this.textIsEditing,
      this.texts[data.pos].selected,
      this.editor)

      localStorage.setItem("isModified", true);
    },

    logoSelected() {
      if (this.logo) {
        this.logo = null;
      } else {
        this.$refs.Croppermodal.show();
      }
      localStorage.setItem("isModified", true);
    },
    async saveAll() {
      let loading = this.$loading.show();
      let result = await this.saveJornal();
      loading.hide();
      if (result == "success") {
        this.$swal({
          type: "success",
          title: "Sucesso!",
          text: "Material salvo com sucesso!"
        });
      }
    },
    download() {
      Swal.fire({
        title: "Salvar material",
        text: "Como você quer baixar seu modelo?",
        showCancelButton: true,
        confirmButtonColor: "#007BFF",
        cancelButtonColor: "#F47200",
        confirmButtonText: '<i class="fas fa-image"></i> Download de Imagem',
        cancelButtonText:
          '<i class="fas fa-file-pdf"></i> Download de arquivo PDF'
      }).then(result => {
        if (result.value) {
          // por limitações do componente, um botão retorna valor e o outro não. quando tem valor é download de imagem
          this.saveImg(1);
        } else if (result.dismiss == "cancel") {
          this.saveImg(0);
        }
      });
    },
    async saveImg(flag) {
      var self = this;
      self.spinnerGlobal = true;
      let element = null;
      let capa = null;
      let contracapa = null;
      let imgArray = [];
      let promise;
      let doc = document;
      let loading = this.$loading.show();

      self.hideEmptyProduct(true);

      promise = self.generateImage(doc.getElementById("capa"));
      capa = await promise;

      promise = self.generateImage(doc.getElementById("contra-capa"));
      contracapa = await promise;

      imgArray.push(capa);
      imgArray.push(contracapa);

      for (let i = self.allPages.length - 2; i > 0; i--) {
        let pi = doc.getElementsByClassName("paginaInterna" + i)[0];
        if (pi) {
          promise = self.generateImage(pi);
          element = await promise;
          imgArray.push(element);
        }
      }

      loading.hide();
      self.hideEmptyProduct(false);

      if (flag == 1) {
        FileSaver.saveAs(capa, `Jornal - capa - ${this.themeAtual.name}.png`);
        FileSaver.saveAs(
          contracapa,
          `Jornal - contracapa - ${this.themeAtual.name}.png`
        );

        for (let i = 2; i < imgArray.length; i++) {
          FileSaver.saveAs(
            imgArray[i],
            `Jornal - paginainterna` +
              (i - 1) +
              ` - ${this.themeAtual.name}.png`
          );
        }
      } else {
        promise = this.createPDF(imgArray);
        await promise;
      }
    },
    generateImage(page) {
      var options = {
        quality: 1
      };
      return new Promise((resolve, reject) => {
        domtoimage.toPng(page, options).then(blob => {
          resolve(blob);
        });
      });
    },
    async createPDF(imgArray) {
      return new Promise((resolve, reject) => {
        var quantPag = imgArray.length;
        var self = this;

        if (quantPag == 4) {
          let pdfName = "test";
          var doc = new jsPDF("l", "in", "a3", {
            format: [1240, 1754]
          });
          doc.internal.scaleFactor = 30;
          var width = doc.internal.pageSize.getWidth();
          var height = doc.internal.pageSize.getHeight();
          let i = 0;
          doc.addImage(imgArray[1], "PNG", 0, 0, width / 2, height);
          doc.addImage(imgArray[0], "PNG", width / 2, 0, width / 2, height);
          for (let i = 2, j = quantPag - 1; i <= j; i++, j--) {
            doc.addPage();
            doc.addImage(imgArray[j], "PNG", 0, 0, width / 2, height);
            if (i != j) {
              doc.addImage(imgArray[i], "PNG", width / 2, 0, width / 2, height);
            }
          }
          var d = new Date();
          doc.save(`Jornal - ${this.themeAtual.name}.pdf`);
        } else {
          let pdfName = "test";
          var doc = new jsPDF("p", "in", "a4", {
            format: [1240, 1754]
          });
          doc.internal.scaleFactor = 30;
          var width = doc.internal.pageSize.getWidth();
          var height = doc.internal.pageSize.getHeight();
          let i = 0;
          imgArray.forEach((img, key) => {
            doc.addImage(img, "PNG", 0, 0, width, height);
            if (key < quantPag - 1) doc.addPage();
          });
          var d = new Date();
          doc.save(`Jornal - ${this.themeAtual.name}.pdf`);
        }
      });
    }
  }
};
</script>



<style scoped>
.body {
  background-color: white;
  margin-top: 70px;
}
.journal-page {
  width: 730px;
  height: 1055px;
}
.select-product {
  font-size: 12px;
}

.form-label,
input,
label,
textarea {
  /* font-size: 12px !important; */
}

input,
textarea,
select {
  font-size: 14px;
}

.product-image {
  text-align: center;
}
.product-image img {
  height: 100px;
  width: auto;
}
span.title {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 0 10px 0;
}
.custom-radio {
  font-size: 12px;
}
.custom-control-label {
  padding-top: 4px !important;
}
.b-form-group {
  margin: 5px 0 0 0;
}
.image-container {
  height: 100px;
}
.image-container img {
  height: 80%;
  width: auto;
  margin: 0;
}

.concluirbutton {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 0px;
  background: #f47200;
  color: white;
  border: 2px solid transparent;
}
.concluirbutton:hover {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 6px;
  margin-bottom: 0px;
  background: transparent;
  color: #f47200;
  border: 2px solid #f47200;
}
.buttonFlips {
  font-size: 0.7rem;
  background: #d6d6d6;
  border: 2px solid transparent;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}
.buttonFlips:hover {
  background: #fff;
  border: 2px solid #d6d6d6;
}
.modal-dialog {
  width: 550px !important;
}
.croppa-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 0px;
}

.croppa-container:hover {
  opacity: 1;
  background-color: #dfdfdf;
}
.zindexshow {
  z-index: 4134 !important;
}
.back-spinner h5 {
  color: #f47200;
  font-weight: 600;
}
.space {
  margin-right: 5px;
}
.absolu {
  position: fixed;
  top: 140px;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
.zindexlabel {
  z-index: 20;
}
.notify {
  background: #003875 !important;
  border-left: #71adee !important;
}

.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000030;
}
.ajust-thumb-themes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  margin-left: 6vh;
  max-width: 800px;
  overflow-x: auto;
}

.ajust-thumb-themes .card-thema {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.btn-temas {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #797a7b;
  display: flex;
}

.btn-temas i {
  margin-left: 5px;
}

.btn-temas::before {
  background: transparent;
  border: none;
  color: #797a7b;
}

.btn-temas:active {
  background: transparent;
  border: none;
  color: #797a7b;
}

.nav-princ {
  box-shadow: none !important;
}

.btn-upload-img-label {
  margin-top: 5px;
  background-color: white;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  width: 33%;
  color: #f47200;
  border: 1px solid #f47200;
  cursor: pointer;
}

.btn-upload-img-label:hover {
  border-radius: 5px;
  /* padding: 8px 15px; */
  background-color: #f47200;
  color: white;
  cursor: pointer;
}
table {
  width: 100%;
  height: 100%;
}
.button-row {
  text-align: center;
}
.item {
  height: 100%;
  background: #02336a;
  margin: 4%;
}

.bg_prices {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.themes-list {
  display: flex;
  flex-wrap: wrap;
}

.bg_prices img {
  width: 20%;
  cursor: pointer;
}

.bg-hover {
  width: 100%;
  height: 100vh;
  background: rgba(101, 101, 101, 0);
  position: fixed;
  z-index: 4;
  top: 0;
}

.material-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-label::after {
  content: "Upload" !important;
}

.product-body {
  padding: 5px;
  height: 100%;
}

.prop-options,
.row {
  margin-top: 10px;
}

.top-margin {
  margin-top: 144px;
}
.edit-jornal {
  overflow: auto;
  background-color: #eef0f4;
}

.full {
  width: 100%;
}
.item-fl {
  margin: 8px;
  align-items: center;
  background: #f47200;
  width: 60%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
}
.item-fl:hover {
  border-right: 10px solid #aa4f00;
}
.item-fl:active {
  transform: scale(1.05);
  border-right: 0px solid #aa4f00;
}
.item-fl i {
  font-size: 50px;
  color: white;
}
.item-fl:hover i {
  transform: scale(0.95);
  color: white;
}
.item-fl .box {
  width: 100%;
}
.item-fl .box h5 {
  color: white;
  font-weight: 600;
  font-size: 17px;
}
.item-fl .box h6 {
  font-size: 12px;
  color: white;
  font-weight: 600;
}
.item-fl-r {
  margin: 8px;
  align-items: center;
  background: #007bff;
  width: 60%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
}
.product-image {
  text-align: center;
}

.item-fl-r:hover {
  border-right: 10px solid #014185;
}
.item-fl-r:active {
  transform: scale(1.05);
  border-right: 0px solid #022144;
}
.item-fl-r i {
  font-size: 50px;
  color: white;
}
.item-fl-r:hover i {
  transform: scale(0.9);
  color: white;
}
.item-fl-r .box {
  width: 100%;
}
.item-fl-r .box h5 {
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.painelFin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.apot-spinner-grid {
  position: absolute;
  width: 100%;
  height: 676.22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 10023;
}
.apot-spinner-grid-main {
  width: 100%;
  height: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 10023;
}

.shadowifed {
  box-shadow: 0 0 20px 1px #6e6e6e30;
}

.product-body {
  position: relative;
  cursor: pointer;
}

.btn-orange {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #f47200;
  border: 1px solid #f47200;
  font-size: 15px;
}
.btn-orange:hover {
  background-color: #f47200;
  color: white;
}
.btn-red {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #dc3545;
  border: 1px solid #dc3545;
  font-size: 15px;
}
.btn-red:hover {
  background-color: #dc3545;
  color: white;
}

.page-and-theme {
  padding: 0 0 0 5px !important;
}

.page-select {
  padding-top: 15px;
  height: 250px;
  overflow-y: auto;
}
.page-select a {
  color: black;
}
.pages {
  font-size: 13px;
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: left;
}
.page {
  cursor: pointer;
  margin: 5px 0 0 20px;
}
.theme-select {
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.themes-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10px 0 10px;
}
.theme {
  padding: 0;
  width: 46%;
  padding: 1%;
}

.product-body span {
  font-size: 0.9rem;
  line-height: 19px !important;
  color: #000;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

body {
  background-color: #eff1f5 !important;
}
.imagebg {
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
}

.flex-around {
  width: 50%;
  margin: auto;
}

.no-drag h5 {
  font-weight: 600;
  color: #797a7b;
}

.no-drag h5 {
  font-weight: 600;
  color: #797a7b;
}

.flex-around img {
  width: 100%;
}

.navbar-header {
  margin-top: 14vh;
}
.canvas-area {
  display: flex;
  justify-content: center;
}
.no-drag {
  display: flex;
  height: -webkit-fill-available;
  flex-flow: column;
}
.bg-tag img {
  width: 100%;
}

.vue-grid-layout {
  margin: 10px;
  margin-top: -2px;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-area {
  margin: auto;
  margin-top: 40px;
  width: 100px;
  height: 137px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
}

.theme {
  cursor: pointer;
}

.upload-area img {
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}

.upload {
  display: none;
}

.vue-grid-item {
}

grid-layout {
  background-color: black;
}

.prop-options {
  margin: 3px 10px 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.lateral-props {
  border: 1px solid #dadde2;
  width: 320px;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 900;
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-left {
  width: 100%;
  text-align: start;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  background-color: #c5c5c54d;
  border-radius: 0px 8px 0px 0px;
}

.selectmenu {
  width: 100%;
  margin-top: 78px;
  border-top: 1px solid #dadde2;
}

.shiftx-enter-active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shiftx-leave-active {
  opacity: 0;
  animation-name: fadeInOpacity2;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}

@keyframes fadeInOpacity2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.back-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20000;
  width: 100%;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #02336a;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
font {
  line-height: 100%;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.spinner3 {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce4,
.double-bounce5 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #04366c;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce4 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.corTema {
  color: #f47200;
}
.pulsate {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.2;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
</style>
<style>
.nav-princ {
  box-shadow: none !important;
  border-bottom: 1px solid #e0e0e0;
}
.themes-row {
  min-height: 200px;
}
</style>
