<template>
  <div class="home">
    <div class="header">
      <FlixTopBar></FlixTopBar>
      <HeaderPrimary></HeaderPrimary>
    </div>
    <div class="container body">
      <b-modal
        ref="finalizar"
        centered
        title="Opções de exportação"
        style="z-index: 900!important;"
      >
        <div class="painelFin">
          <div class="item-fl" @click="saveImg(pageAtual.height, 0)">
            <i class="fas fa-file-pdf"></i>
            <div class="box">
              <h5>Baixar PDF</h5>
              <h6>(recomendado para impressão)</h6>
            </div>
          </div>
          <div class="item-fl-r" @click="saveImg(pageAtual.height, 1)">
            <i class="fas fa-image"></i>
            <div class="box">
              <h5>Baixar como Imagem</h5>
            </div>
          </div>
        </div>
      </b-modal>

      <h5 class="choose-edit text-left">{{ $t('messages.model_choose')}}</h5>

      <div class="vld-parent" style="height: 200px" v-if="isLoadingMaterials">
        <loading
          :active.sync="isLoadingMaterials"
          :is-full-page="fullPageLoadingMaterials"
          background-color="transparent"
          color="#ffffff"
        ></loading>
      </div>

      <div class="cards">
        <b-row>
          <b-col lg="2" md="4" sm="4" v-for="item in itens" v-bind:item="item" v-bind:key="item.id" >
            <div
              class="card text-center"
              v-on:mouseover="enableButton(item.id, itens)"
              v-on:mouseout="disableButton(item.id, itens)"
            >
              <div class="img-area">
                <img class="img-fluid" :src="item.path" :alt="item.title">
              </div>
              <div class="description">
                <b
                  v-html="item.title.includes(' - ') ? (item.title.split(' - ')[0]+'<br>'+item.title.split(' - ')[1]) : item.title"
                ></b>
              </div>
              <div class="button-area">
                <router-link :to="item.goto" tag="button" class="btn btn-danger">COMEÇAR</router-link>
              </div>
            </div>
            <div class="loading" v-if="itens.length === 0">
              <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>

      <hr>

      <h5 class="choose-edit text-left" ref="boxSavedMaterials">{{ $t('messages.saved_works')}}</h5>

      <div class="vld-parent" style="height: 200px" v-if="isLoadingSavedMaterials">
        <loading
          :active.sync="isLoadingSavedMaterials"
          :is-full-page="fullPageLoadingSavedMaterials"
          background-color="transparent"
          color="#ffffff"
        ></loading>
      </div>

      <b-row class="saved-row" style="position: relative;">
        <b-col
          lg="2"
          md="4"
          sm="4"
          v-for="model in itensSaved"
          v-bind:item="model"
          v-bind:key="model.id"
          v-on:mouseover="enableButton(model.id, itensSaved)"
          v-on:mouseout="disableButton(model.id, itensSaved)"
        >
          <div class="saved-cards text-center">
            <div class="saved-img-area">
              <b-img
                blank-color="#bbb"
                height="100"
                :src="storage+model.img"
                class="miniature"
                alt="Fazer download"
              />
            </div>
            <div class="card-info">
              <span class="type" v-html="model.date"></span>
              <span class="title" v-html="model.title"></span>
              <!--<span class="descricao">{{model.date}}</span>-->
            </div>
            <div class="button-row">
              <button
                type="button"
                @click="editMaterial(model)"
                class="btn btn-sm btn-outline-primary btn-saved-items"
              >EDITAR</button>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger btn-saved-items"
                @click="deleteMaterialSaved(model)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
    <FooterPrimary></FooterPrimary>
  </div>
</template>

<script>
import VueGridLayout from "vue-grid-layout";
import MaterialProvider from "@/providers/MaterialProvider";
import Menu from "@/components/Menu";
//import Footer from "@/components/Footer";
import { mapGetters } from "vuex";
import Login from "@/components/Auth/Login";
import Swal from "sweetalert2";
import Loading from "vue-loading-overlay";
import config from "../config";
import FlixTopBar from "../components/flixdovarejo/FlixTopBar";
import HeaderPrimary from "../components/HeaderPrimary";
import FooterPrimary from "../components/FooterPrimary";

var FileSaver = require("file-saver");
var date = require("date-and-time");

export default {
  name: "Main",
  components: {
    FooterPrimary,
    HeaderPrimary,
    FlixTopBar,
    Menu,
    //Footer,
    Login,
    Loading
  },
  computed: {
    ...mapGetters(["isAuthenticated", "authStatus"]),
    loading: function() {
      return this.authStatus === "loading" && !this.isAuthenticated;
    }
  },
  data() {
    return {
      errorMaterials: false,
      prodEnv: require("@/config/prod.env.js"),
      materialProvider: require("@/providers/MaterialProvider.js"),
      itens: [],
      itensSaved: [],
      storage: require("@/config/prod.env.js").API_STORAGE,
      imgBackground: "static/ico_img.png",
      layout: [],
      upload_emp_logo: false,
      upload_main_frame: true,

      isLoadingMaterials: false,
      fullPageLoadingMaterials: false,
      isLoadingSavedMaterials: false,
      fullPageLoadingSavedMaterials: false
    };
  },

  methods: {
    deleteMaterialSaved(mati) {
      this.$swal({
        title: "Tem certeza?",
        text: "Essa ação não pode ser desfeita.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sim, excluir.",
        cancelButtonText: "Não."
      }).then(result => {
        if (result.value) {
          var self = this;
          var url =
            `${config.url.api.flixmidia.user.material.delete}` +
            "?material_user_id=" +
            mati.id;
          //formData.append("object", res);
          this.$http
            .post(url, {
              async: true,
              crossDomain: true,
              headers: {
                "content-type": "multipart/form-data"
              }
            })
            .then(resp => {
              this.$swal({
                title: "Excluído!",
                text: "O material selecionado foi excluido com sucesso.",
                type: "success"
              });
              self.itensSaved.forEach((item, key) => {
                if (item.id == mati.id) {
                  self.itensSaved.splice(key, 1);
                }
              });
            });
        }
      });
    },
    notify(titulo, texto, tempo) {
      this.$notify({
        group: "foo",
        type: "sucess",
        title: titulo,
        classes: "notify",
        text: texto,
        duration: tempo,
        data: {}
      });
    },
    editMaterial(mat) {
      var self = this;
      switch (mat.material_id) {
        case 1:
          self.$router.push({
            name: "Jornal",
            params: {
              dados: mat
            }
          });
          break;

        case 2:
          self.$router.push({
            name: "Banderole",
            params: {
              dados: mat
            }
          });
          break;

        case 3:
          self.$router.push({
            name: "Priceposter",
            params: {
              dados: mat
            }
          });
          break;

        case 4:
          self.$router.push({
            name: "Mobile",
            params: {
              dados: mat
            }
          });
          break;

        case 5:
          self.$router.push({
            name: "Testeira",
            params: {
              dados: mat
            }
          });
          break;
        case 8:
          self.$router.push({
            name: "Jornal",
            params: {
              dados: mat
            }
          });
          break;
      }
      if (mat.material_id == 1) {
      }
    },
    downloadImg(img, name) {
      var self = this;
      var promise = new Promise(resolve => {
        var blob = null;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", img);
        xhr.responseType = "blob"; //force the HTTP response, response-type header to be blob
        xhr.onload = function() {
          blob = xhr.response; //xhr.response is now a blob object
          resolve(blob);
        };
        xhr.send();
      });
      promise.then(resp => {
        FileSaver.saveAs(resp, name + ".png");
        self.spinnerGlobal = false;
      });
    },
    notify(titulo, texto, tempo) {
      this.$notify({
        group: "foo",
        type: "sucess",
        title: titulo,
        classes: "notify",
        text: texto,
        duration: tempo,
        data: {}
      });
    },
    async getListofMaterials() {
      return new Promise((resolve, reject) => {
        /*let loader = this.$loading.show();*/
        this.isLoadingMaterials = true;
        var self = this;
        self.materialProvider.default
          .getMaterials()
          .then(result => {
            //Pós processamento
            result.forEach(value => {
              self.itens.push({
                id: value.id,
                title: value.name,
                showbtn: false,
                goto: "/" + value.identifier,
                path: value.icon_path
              });
            });
          })
          .then(r => {
            self.itens.sort(function(a, b) {

              if(a.title.includes('Jornal') && b.title.includes('Jornal'))
                return -1;
              if(b.title.includes('Jornal'))
                return 1;
              if(a.title.includes('Jornal'))
                return -1;


              if (a.title < b.title) {
                return -1;
              }
              if (a.title > b.title) {
                return 1;
              }
              return 0;
            });

            //loader.hide();
            this.isLoadingMaterials = false;
          })
          .catch(err => {
            //loader.hide();
            this.isLoadingMaterials = false;
            //Exeption
            throw new Error(err);
          });
        resolve();
      });
    },
    getSavedMaterials() {
      return new Promise((resolve, reject) => {
        /*let loader = this.$loading.show({
          container: this.$refs.boxSavedMaterials,
        });*/

        this.isLoadingSavedMaterials = true;

        var self = this;
        var idUser = JSON.parse(localStorage.getItem("user")).user.id;
        var url =
          `${config.url.api.flixmidia.user.material.all}` +
          "?user_id=" +
          idUser;
        self.$http
          .get(url)
          .then(resp => {
            if (resp.body.status === 1) {
              var savedItems = resp.body.materials;

              if (savedItems.length > 0) {
                savedItems.forEach(item => {
                  var repJ = JSON.parse(item.data);

                  var today = new Date(item.updated_at);

                  today = date.format(today, "DD/MM/YYYY");

                  self.itensSaved.push({
                    material_id: item.material_id,
                    id: item.id,
                    title: item.material.name.includes(" - ")
                      ? item.material.name.split(" - ")[0] +
                        "<br><small>" +
                        item.material.name.split(" - ")[1] +
                        "</small>"
                      : item.material.name,
                    desc: "tema",
                    img: repJ.miniature,
                    date: today,
                    fulldate: item.updated_at,
                    json: repJ,
                    showbtn: false
                  });

                  /*self.materialProvider.default
                    .getMaterial(item.material_id)
                    .then(resp => {
                      self.itensSaved.push({
                        material_id: item.material_id,
                        id: item.id,
                        title: resp.data.name.includes(" - ")
                          ? resp.data.name.split(" - ")[0] +
                            "<br>" +
                            resp.data.name.split(" - ")[1]
                          : resp.data.name,
                        desc: "Natal",
                        img: repJ.miniature,
                        date: today,
                        fulldate: item.updated_at,
                        json: repJ,
                        showbtn: false
                      });
                    })
                    .then(o => {
                      self.itensSaved.sort(function(a, b) {
                        return new Date(a.fulldate) - new Date(b.fulldate);
                      });
                      self.itensSaved.reverse();
                    });*/
                });

                self.itensSaved.sort(function(a, b) {
                  return new Date(a.fulldate) - new Date(b.fulldate);
                });

                self.itensSaved.reverse();
              } else {
                self.errorMaterials = "Você não possui nenhum material salvo.";
              }
            } else {
            }

            //loader.hide();
            this.isLoadingSavedMaterials = false;
          })
          .then(r => {
            //loader.hide();
            this.isLoadingSavedMaterials = false;
            resolve();
          });
      });
    },

    enableButton(index, arr) {
      arr.forEach(element => {
        if (index === element.id) {
          element.showbtn = true;
        }
      });
    },
    disableButton(index, arr) {
      arr.forEach(element => {
        if (index === element.id) {
          element.showbtn = false;
        }
      });
    },
    async getData() {
      var self = this;
      await self.getListofMaterials();
      self.$debugOn = false;
      await self.getSavedMaterials();
    }
  },

  mounted: function() {
    this.getData();
  }
};
</script>

<style scoped>
/*.body {
  min-height: 715px;
}*/
.choose-edit {
  margin: 10px 0;
  color: white;
}

.cards {
  /*width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;*/
  padding-bottom: 8px;
}

.card {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px 0 10px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.card .img-area {
  /*width: 100%;
  height: 150px;*/
}

.description {
  height: 50px;
  font-size: 14px;
}

.card .img-area img {
  /*width: 90%;
  height: auto;
  margin: auto;*/
}

.btn-danger {
  background-color: white;
  color: #ee8600;
  border-color: #ee8600;
}

.btn-danger:hover {
  background-color: #ee8600;
  color: white;
}

.loading {
  width: 100%;
  height: 100%;
}

.home {
  min-height: 315px;
}

.saved-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 50px;
}

.saved-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 225px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin: 10px 0 10px 0;
}

.saved-img-area,
.saved-img-area img {
  height: 100px;
}

.saved-img-area {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.saved-img-area img {
  max-width: 100%;
}

.card-info span {
  font-size: 14px;
  display: block;
}

span.type {
  font-size: 12px;
}

span.title {
  font-size: 14px;
  font-weight: bold;
}

.button-row {
}
</style>
