<template>
  <div class="mobile">
    <div class="header">
      <EditMenu @save-all="saveAll()" @download="download()"/>
    </div>
    <b-modal ref="Croppermodal" centered hide-header hide-footer style="z-index: 10020!important;">
      <b-alert show dismissible fade variant="success">
        <p style="font-size: 12px;">
          Você pode usar as funções arrasta e solta, ou se preferir clique para fazer o upload de sua imagem.
          Use o scroll do mouse como zoom e arraste para posicionar sua imagem.
        </p>
      </b-alert>
      <div class="container">
        <div class="row">
          <div class="col-md-12 canvas-area">
            <croppa
              v-model="croppa"
              :width="300"
              :height="300"
              placeholder="Faça upload da sua imagem"
              placeholder-color="#000"
              :placeholder-font-size="16"
              canvas-color="#ffffff"
              :show-remove-button="true"
              remove-button-color="black"
              :show-loading="true"
              :loading-size="50"
            ></croppa>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>
              <button class="buttonFlips" @click="croppa.rotate()">Girar 90º</button>
              <button class="buttonFlips" @click="croppa.rotate(2)">Girar 180º</button>
              <button class="buttonFlips" @click="croppa.rotate(-1)">Girar -90º</button>
              <button class="buttonFlips" @click="croppa.flipX()">Flip Horizontal</button>
              <button class="buttonFlips" @click="croppa.flipY()">Flip Vertical</button>
            </div>
            <div class="button-row">
              <button
                class="concluirbutton"
                @click="getimagecrop('image/jpeg', 0.8)"
              >Concluir Edição</button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
    <div class="body">
      <b-modal
        id="modal-center"
        size="lg"
        centered
        title="Selecione um tema"
        ref="themesModal"
        hide-footer
        hide-header
        v-if="!isSavedModel"
        :no-close-on-backdrop="true"
        :no-close-on-esc="true"
      >
        <h4>Selecione um tema</h4>
        <hr>

        <div class="text-center">
          <div class="row" v-if="themesArr">
            <div
              class="col-md-4 padding-bottom"
              v-for="(themes, index) in themesArr"
              :key="index"
              @click="showLoading(themes); getPagesForThisTheme(atualMaterial.id, themes.id); pageatual = pagesArr[0]; closeModal();"
            >
              <div class="border rounded p-2 cursor-pointer">
                <b-row>
                  <b-col class="text-center">
                    <b-img rounded :src="themes.img_background" :alt="themes.name" height="100"/>
                    <div class="text-center">
                      <hr>
                      <h6>
                        <b>{{themes.name}}</b>
                      </h6>
                    </div>
                  </b-col>
                </b-row>
              </div>
            </div>
          </div>
        </div>
      </b-modal>

      <div class="edit-area">
        <div class="drawer d-flex align-items-stretch">
          <div class="drawer-col-1 bg-light">
            <div class="drawer-themes" v-if="themeAtual">
              <div class="border-bottom p-1">TEMAS</div>

              <div class="drawer-overflow bg-white border-bottom">
                <div v-if="themesArr">
                  <b-media
                    class="cursor-pointer border rounded p-2 mb-2 bg-light"
                    v-for="(themes, index) in themesArr"
                    :key="index"
                    @click="showLoading(themes); getPagesForThisTheme(atualMaterial.id, themes.id); pageatual = pagesArr[0]; closeModal();"
                    vertical-align="center"
                  >
                    <b-img
                      slot="aside"
                      class="shadow-primary"
                      :src="themes.img_background"
                      rounded
                      blank-color="#ccc"
                      height="60"
                      :alt="themes.name"
                    />
                    <div class="mt-3 text-uppercase">
                      <b>{{themes.name}}</b>
                    </div>
                    <div v-if="themeAtual.id === themes.id" class="text-success">
                      <i class="fas fa-check-circle"></i> selecionado
                    </div>
                  </b-media>
                </div>

                <div v-if="!themesArr" style="margin-left: 2vw;">
                  <b-alert show variant="secondary">Carregando temas..</b-alert>
                </div>
              </div>
            </div>

            <div class="drawer-pages" v-if="themeAtual">
              <div class="border-bottom p-1">PÁGINAS</div>

              <div class="drawer-overflow bg-white border-bottom text-uppercase">
                <div class="p-2">
                  <div class="mb-2 bg-light border rounded p-2">
                    <b>
                      <i class="fas fa-folder-open mr-2"></i> Bandeirola
                    </b>
                  </div>

                  <div class="ml-4 mb-2 bg-light border rounded p-2">
                    <b>
                      <i class="fas fa-folder-open mr-2"></i>
                      {{ (themeAtual.name) ? themeAtual.name : 'Tema' }}
                    </b>
                  </div>

                  <div
                    class="ml-5 mb-2 bg-light border rounded p-2"
                    v-for="(value, key) in pagesArr"
                    v-bind:key="key"
                  >
                    <a :href="'#page'+(key+1)">
                      <div>
                        <i class="fas fa-file-alt mr-2"></i>
                        {{ value.name }}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="drawer-grid">
            <div class="bg-light border-bottom shadow-sm p-1">GRID
              <div style="width: 50%; float: right" class="text-right cursor-pointer zoom-links">
                <a class="p-1" @click="zoomChange(25)" href="#clone">25%</a>
                <a class="border-left p-1" @click="zoomChange(50)" href="#clone">50%</a>
                <a class="border-left p-1" @click="zoomChange(100)" href="#clone">100%</a>
              </div>
            </div>

            <div class="drawer-overflow">
              <b-container v-bind:class="zoomGrid">
                <b-row>
                  <div class="border1" id="clone">
                    <div>
                      <div
                        class="banderole_contain page1"
                        id="page1"
                        v-if="themeAtual && (pageAtual != -1)"
                      >
                        <img :src="imgbg1" class="imagebg">
                        <div class="logo-contain" v-bind:class="{ 'uploadLogoBorder': !logoImg }">
                          <!-- <input
                            type="file"
                            v-if="!logoImg"
                            @change="onFileChange"
                            name="file"
                            class="upload"
                            id="file"
                            accept=".png"
                            style="display: none"
                          >-->
                          <!-- <label for="file" v-if="!logoImg"> -->
                          <div
                            class="upload-area"
                            v-if="!hasImg"
                            @click="$refs.Croppermodal.show()"
                          >
                            <img src="static/ico_upload_img.png">
                            <h6>Enviar Logo</h6>
                          </div>
                          <!-- </label> -->
                          <img :src="logoImg" v-if="hasImg">
                        </div>
                      </div>
                      <div
                        class="banderole_contain page2"
                        id="page2"
                        v-if="themeAtual && (pageAtual != -1)"
                      >
                        <img :src="imgbg2" class="imagebg" @load="loadedTheme">
                      </div>
                    </div>
                    <div
                      style="width: 680px;height:800px "
                      v-if="!(themeAtual && (pageAtual != -1))"
                    >
                      <div
                        class="spinner3"
                        style="margin: auto; padding-top: 25vh; color: #F47200;"
                      >
                        <div v-if="!themeAtual" class="text-center text-muted">
                          <h1>
                            <br>Selecione um tema para começar
                            <br>
                            <br>
                            <i class="fas fa-arrow-left fa-4x"></i>
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-row>
              </b-container>
            </div>
          </div>

          <div class="drawer-col-2 bg-light">
            <div class="drawer-logo" v-if="themeAtual">
              <div class="border-bottom p-1">LOGO</div>

              <div class="drawer-overflow bg-white border-bottom">
                <div class="text-center border rounded p-3">
                  <i v-if="!logoImg" class="fas fa-image fa-8x text-muted"></i>
                  <b-img v-if="logoImg" :src="logoImg" fluid style="max-height: 150px"/>
                </div>

                <div class="settings">
                  <div class="upload-logo">
                    <!-- <input
                      type="file"
                      @change="onFileChange"
                      accept=".png"
                      id="upload_propert"
                      style="display: none;"
                    >-->
                    <!-- <label for="upload_propert" v-if="!logoImg"> -->
                    <div
                      class="btn btn-lg btn-orange"
                      v-if="!hasImg"
                      @click="$refs.Croppermodal.show()"
                    >
                      <i class="fas fa-upload"></i>
                      <br>ENVIAR SUA MARCA
                    </div>
                    <!-- </label> -->
                    <div class="btn btn-sm btn-red" v-if="hasImg" @click="deleteLogo">
                      <i class="fas fa-trash"></i>
                      REMOVER LOGO
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notifications from "vue-notification";
import jsPDF from "jspdf";
var domtoimage = require("dom-to-image");
var FileSaver = require("file-saver");
import EditMenu from "@/components/EditMenu.vue";
import Swal from "sweetalert2";
export default {
  name: "Mobile",
  components: {
    EditMenu
  },
  data() {
    return {
      croppa: {},
      hasImg: false,
      dataSavedModel: false,
      isSavedModel: false,
      themeProvider: require("@/providers/ThemeProvider.js"),
      materialProvider: require("@/providers/MaterialProvider.js"),
      pageProvider: require("@/providers/PageProvider.js"),
      logoImg: false,
      atualMaterial: false,
      spinnerGlobal: true,
      imgbg1: null,
      imgbg2: null,
      pageAtual: -1,
      pagesArr: [],
      themeAtual: false,
      themesArr: [],
      disable: false,
      prodEnv: require("@/config/prod.env.js"),
      zoomGrid: "zoom-100",
      loading1: true,
      loading2: true,
      loadingTheme: null
    };
  },
  methods: {
    showLoading(theme) {
      if (this.themeAtual.id != theme.id) {
        this.themeAtual = theme;
        this.loadingTheme = this.$loading.show();
      }
    },
    deleteLogo() {
      this.logoImg = false;
      this.hasImg = false;
      localStorage.setItem("isModified", true);
    },
    zoomChange: function(z) {
      this.zoomGrid = "zoom-" + z;
    },
    async saveImg(png) {
      var self = this;
      self.spinnerGlobal = true;
      let element = null;
      let capa = null;
      let contracapa = null;
      let promise;
      let doc = document;
      let loading = this.$loading.show();

      promise = self.saveImage(doc.getElementsByClassName("page1")[0]);
      capa = await promise;

      promise = self.saveImage(doc.getElementsByClassName("page2")[0]);
      contracapa = await promise;

      loading.hide();

      if (png == 1) {
        var d = new Date();
        FileSaver.saveAs(capa, `Mobile - frente - ${this.themeAtual.name}.png`);
        FileSaver.saveAs(
          contracapa,
          `Mobile - verso - ${this.themeAtual.name}.png`
        );
      } else {
        promise = this.createPDF(capa, contracapa);
        await promise;
      }
    },
    saveImage(page) {
      var options = {
        quality: 1
      };
      return new Promise((resolve, reject) => {
        domtoimage.toPng(page, options).then(blob => {
          resolve(blob);
        });
      });
    },
    saveImgMiniature(tam) {
      var self = this;

      return new Promise(resolve => {
        tam = self.pageAtual.width;
        if (self.logoImg) {
          var pai = document.getElementById("clone");
          var default_W = pai.style.width;
          var default_H = pai.style.height;
          pai.style.width = tam + 20 + 31 + "px";
          var img = document.getElementsByClassName("page1")[0];
          pai.style.height = img.clientHeight + 20 + "px";
          var height = self.$refs.bg;
          var modifi = pai.childNodes[0];
          var options = {
            quality: 1,
            width: tam + 31
          };
          domtoimage.toBlob(modifi, options).then(blob => {
            self.saveImagesBlob(blob).then(t => {
              self.previewSaved = t;
              resolve(t);
            });
            pai.style.width = default_W;
            pai.style.height = default_H;
          });
        } else {
          this.$swal({
            title: "Erro!",
            text: "Você precisa editar o seu modelo antes de exportar.",
            type: "warning"
          });
        }
      });
    },
    onFileChange(e) {
      const file = e.target.files[0];
      this.itemIsEditing.img = URL.createObjectURL(file);
      localStorage.setItem("isModified", true);
    },
    saveImagesBlob(file) {
      var self = this;
      return new Promise(resolve => {
        var formData = new FormData();
        formData.append("object", file);
        self.$http
          .post(self.prodEnv.API_URL + "/storage", formData, {
            crossDomain: true,
            headers: {
              "content-type": "multipart/form-data"
            }
          })
          .then(resp => {
            resolve(
              String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
            );
          });
      });
    },

    enableLayout() {
      var self = this;
      if (self.pagesArr) {
        self.imgbg1 = self.pagesArr[0].background_path;
        self.imgbg2 = self.pagesArr[1].background_path;
      }
    },
    urltoFile(url, filename, mimeType) {
      mimeType = mimeType || (String(url).match(/^data:([^;]+);/) || "")[1];
      return fetch(url)
        .then(function(res) {
          return res.arrayBuffer();
        })
        .then(function(buf) {
          return new File([buf], filename, {
            type: mimeType
          });
        });
    },
    createMaterial(data) {
      var self = this;
      return new Promise(resolve => {
        var idmaterial = self.atualMaterial.id;

        var formData = new FormData();
        formData.append("data", data);
        var url =
          self.prodEnv.API_URL +
          "/user/material/create?user_id="+JSON.parse(localStorage.getItem("user")).user.id+"&material_id=" +
          idmaterial;

        this.$http
          .post(url, {
            data: JSON.stringify(data)
          })
          .then(resp => {
            self.dataSavedModel = data;
            self.dataSavedModel.id = resp.body.material_user_id;
            resolve(resp);
          });
      });
    },
    saveImages(file) {
      var self = this;
      var result = null;
      return new Promise(resolve => {
        self.urltoFile(file).then(function(res) {
          var formData = new FormData();
          formData.append("object", res);
          self.$http
            .post(self.prodEnv.API_URL + "/storage", formData, {
              crossDomain: true,
              headers: {
                "content-type": "multipart/form-data"
              }
            })
            .then(resp => {
              resolve(
                String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
              );
            });
        });
      });
    },
    saveAll() {
      var self = this;
      let loading = this.$loading.show();
      if (self.logoImg) {
        var produtos = this.produtosGrid;
        var logo;
        self.saveImages(self.logoImg).then(resp => {
          var logo = resp;
          self.saveImgMiniature().then(ur => {
            var myjson = {
              Logo: logo,
              miniature: ur,
              theme: self.themeAtual.id,
              imgbg1: self.imgbg1,
              imgbg2: self.imgbg2
            };
            if (!self.isSavedModel) {
              self.createMaterial(myjson).then(r => {
                loading.hide();
                this.$swal({
                  title: "Sucesso!",
                  text: r.body.mensagem,
                  type: "success"
                });
                self.isSavedModel = true;
                loading.hide();
                localStorage.setItem("isModified", false);
              });
            } else {
              self.updateMaterial(myjson).then(r => {
                loading.hide();
                this.$swal({
                  title: "Sucesso!",
                  text: r.body.mensagem,
                  type: "success"
                });
                loading.hide();
                localStorage.setItem("isModified", false);
              });
            }
          });
        });
      } else {
        loading.hide();
        this.$swal({
          title: "Erro!",
          text: "Você precisa editar seu modelo antes de salvar.",
          type: "warning"
        });
      }
    },
    download() {
      if (this.isSavedModel) {
        this.showModalFinalizar();
      } else {
        this.$swal({
          type: "warning",
          title: "Erro",
          text: "Você precisa salvar o seu material antes de exportar."
        });
      }
    },
    getimagecrop(type, compressionRate) {
      var self = this;

      this.croppa.generateBlob(
        blob => {
          var url = URL.createObjectURL(blob);
          self.logoImg = url;
        },
        type,
        compressionRate
      );

      self.$refs.Croppermodal.hide();
      self.croppa.remove();
      this.hasImg = true;
    },
    createPDF(capa, contracapa) {
      var self = this;
      let pdfName = "test";
      var doc = new jsPDF({
        format: "a1"
      });
      var width = self.pagesArr[0].width;
      var height = self.pagesArr[0].height;
      doc.addImage(capa, "JPEG", 0, 0, width / 1.7, height / 1.7);
      doc.addPage();
      doc.addImage(contracapa, "JPEG", 0, 0, width / 1.7, height / 1.7);
      var d = new Date();
      doc.save(`Mobile - ${this.themeAtual.name}.pdf`);
    },
    showModalFinalizar() {
      Swal.fire({
        title: "Salvar material",
        text: "Como você quer baixar seu modelo?",
        showCancelButton: true,
        confirmButtonColor: "#007BFF",
        cancelButtonColor: "#F47200",
        confirmButtonText: '<i class="fas fa-image"></i> Download de Imagem',
        cancelButtonText:
          '<i class="fas fa-file-pdf"></i> Download de arquivo PDF'
      }).then(result => {
        if (result.value) {
          // por limitações do componente, um botão retorna valor e o outro não. quando tem valor é download de imagem
          this.saveImg(1);
        } else if (result.dismiss == "cancel") {
          this.saveImg(0);
        }
      });
      // if (this.$refs.Finalizar) this.$refs.Finalizar.show();
    },
    hideModalFinalizar() {
      this.$refs.Finalizar.hide();
    },
    notify(titulo, texto, tempo) {
      this.$notify({
        group: "foo",
        type: "sucess",
        title: titulo,
        classes: "notify",
        text: texto,
        duration: tempo,
        data: {}
      });
    },
    loadedTheme() {
      if (this.loadingTheme) {
        this.loadingTheme.hide();
        this.loadingTheme = null;
      }
    },
    getPagesForThisTheme(idM, idT) {
      var self = this;

      return new Promise(resolve => {
        self.pagesArr = [];
        self.themeProvider.default
          .getTheme(idM, idT)
          .then(result => {
            if (result) {
              var pages = result.body.data.pages;
              self.pagesArr = pages;
            }
          })
          .then(id => {
            self.pageProvider.default
              .getPages(idM)
              .then(result => {
                if (result) {
                  self.enableLayout();
                  result.forEach(item => {
                    self.pagesArr.forEach((page, key) => {
                      if (item.id == page.page_id) {
                        page.width = item.width;
                        page.height = item.height;
                      }
                      if (key == 0) {
                        self.pageAtual = page;
                      }
                    });
                  });
                  resolve();
                }
              })
              .catch(resp => {});
          })
          .catch(resp => {});
      });
    },
    showModal() {
      this.$refs.themesModal.show();
    },
    closeModal() {
      this.$refs.themesModal.hide();
    },
    async getThemes(id) {
      return new Promise((resolve, reject) => {
        let loader = this.$loading.show();
        var self = this;
        self.themeProvider.default
          .getThemes(id)
          .then(result => {
            let themeA = result.body;
            if (themeA.status == 1) {
              self.themesArr = null;
              self.themesArr = new Array();
              themeA.data.forEach(value => {
                self.themesArr.push({
                  id: value.id,
                  name: value.name,
                  path_cover: value.cover_path,
                  img_background: value.cover_path,
                  identifier: value.identifier,
                  pages: value.pages,
                  prices: value.prices
                });
              });
              resolve();
            }
            loader.hide();
          })
          .catch(err => {
            loader.hide();
            throw new Error(err.message);
          });
      });
    },
    async getAtualMaterial(id) {
      return new Promise((resolve, reject) => {
        var self = this;
        self.materialProvider.default
          .getMaterial(id)
          .then(result => {
            if (result.status == 1) {
              self.atualMaterial = result.data;

              self.getThemes(result.data.id).then(() => {
                resolve();
              });
            }
          })
          .catch(err => {
            //exeption
            throw new Error(err.message);
          });
      });
    },

    onFileChange(e) {
      const file = e.target.files[0];
      this.logoImg = URL.createObjectURL(file);
      localStorage.setItem("isModified", true);
    },
    updateMaterial(data) {
      var self = this;
      var idmaterial = self.dataSavedModel.id;
      return new Promise(resolve => {
        var url =
          self.prodEnv.API_URL +
          "/user/material/update?material_user_id=" +
          idmaterial;
        this.$http
          .post(url, {
            data: JSON.stringify(data)
          })
          .then(resp => {
            resolve(resp);
          });
      });
    },
    async updateMouted() {
      var self = this;
      var dados = self.$router.history.current.params.dados;
      self.dataSavedModel = dados;
      var storage = self.prodEnv.API_STORAGE;
      await self.getAtualMaterial(dados.material_id);
      self.getPagesForThisTheme(dados.material_id, dados.json.theme).then(r => {
        self.pageAtual = 2;
        self.upload_emp_logo = true;
        self.upload_main_frame = false;
        self.themeAtual = true;
        self.hasImg = true;
        self.logoImg = storage + dados.json.Logo;
        self.imgbg1 = dados.json.imgbg1;
        self.imgbg2 = dados.json.imgbg2;

        self.themesArr.forEach(resp => {
          if (resp.id == dados.json.theme) {
            self.themeAtual = resp;
          }
        });
      });
    }
  },

  mounted() {
    var self = this;
    //this.showModal();
    if (self.$router.history.current.params.dados) {
      self.isSavedModel = true;
      self.updateMouted();
    } else {
      self.getAtualMaterial(4);
      self.showModal();
    }
  }
};
</script>

<style scoped>
.body {
  margin-top: 35px;
  /*background-color: #eef0f4;*/
}

select {
  font-size: 12px;
  width: 50%;
  height: 35px;
}

.edit-area {
  height: auto;
  background-color: #eef0f4;
}

.title {
  font-size: 12px;
  margin-top: 20px;
}

.page-select {
  padding-top: 15px;
  height: 25%;
  overflow-y: auto;
}
.page-select a {
  color: black;
}
.pages {
  font-size: 13px;
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: left;
}
.page {
  cursor: pointer;
  margin: 5px 0 0 20px;
}

.settings {
  /*background-color: white;
  border: 1px solid lightgray;*/
  text-align: center;
}

.back-spinner h5 {
  color: #f47200;
  font-weight: 600;
}

.space {
  margin-right: 5px;
}

.border1 {
  margin: auto;
  padding: 10px;
  width: 680px;
  height: 680px;
  /*background: #fff;*/
  /*box-shadow: 0px 0 5px 0px #00000014;*/
}

.selectmenu {
  width: 100%;
  margin-top: 78px;
  border-top: 1px solid #dadde2;
}

.ajust-img-up {
  position: absolute;
}

.upload-area {
  margin: auto;
  margin-top: 40px;
  width: 200px;
  height: 137px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
}

.upload-area img {
  margin-bottom: 8px;
}

.canvas-area {
  display: flex;
  justify-content: center;
}

.button-row {
  text-align: center;
}

.croppa-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 0px;
}

.croppa-container:hover {
  opacity: 1;
  background-color: #dfdfdf;
}

.buttonFlips {
  font-size: 0.7rem;
  background: #d6d6d6;
  border: 2px solid transparent;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}
.buttonFlips:hover {
  background: #fff;
  border: 2px solid #d6d6d6;
}

.concluirbutton {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 0px;
  background: #f47200;
  color: white;
  border: 2px solid transparent;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}

.logo-contain .btn-upload-img-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: #adb5c0;
  font-weight: 600;
}

.logo-contain .btn-upload-img-label img.img_up {
  width: 30%;
  margin-bottom: 8px;
  margin: auto;
}

.ajust-thumb-themes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  margin-left: 6vh;
  max-width: 800px;
  overflow-x: auto;
}

.ajust-thumb-themes .card-thema {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}
.theme {
  cursor: pointer;
}

.logo-contain .delete_logo {
  background: #666666e6;
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  color: #fff;
  display: none;
}

.logo-contain:hover .delete_logo {
  display: block;
}

.top-margin {
  margin-top: 144px;
  margin-bottom: 144px;
}

.banderole_contain {
  margin: auto;
  width: 100%;
  /*background: #fff;*/
  position: relative;
}

.banderole_contain img {
  width: 100%;
}

.banderole_contain .logo-contain {
  position: absolute;
  bottom: 10%;
  background: transparent;
  left: 33%;
  width: 33.3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 28.5%;
}

.banderole_contain .logo-contain img {
  /*width: 80%;*/
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.corTema {
  color: #f47200;
}

.btn-temas {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #797a7b;
  display: flex;
}

.btn-temas i {
  margin-left: 5px;
}

.btn-temas::before {
  background: transparent;
  border: none;
  color: #797a7b;
}

.btn-temas:active {
  background: transparent;
  border: none;
  color: #797a7b;
}
.themes-row {
  min-height: 200px;
}
.btn-orange {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #f47200;
  border: 1px solid #f47200;
  font-size: 15px;
}
.btn-orange:hover {
  background-color: #f47200;
  color: white;
}
.btn-red {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #dc3545;
  border: 1px solid #dc3545;
  font-size: 15px;
}
.btn-red:hover {
  background-color: #dc3545;
  color: white;
}
label {
  width: 100%;
}
#clone {
  position: relative;
  height: 100%;
}
.uploadLogoBorder {
  border: 1px dashed #adb5c0;
}
</style>
