<template>
  <div class="priceposter">
    <div class="header">
      <EditMenu @save-all="saveAll();" @download="showModalFinalizar()"/>
    </div>
    <b-modal
      id="modal-center"
      size="lg"
      centered
      title="Selecione um tema"
      ref="themesModal"
      hide-footer
      hide-header
      v-if="!isSavedModel"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
    >
      <h4>Selecione um tema</h4>
      <hr>
      <div class="text-center">
        <div class="row" v-if="themesArr">
          <div
            class="col-md-4 padding-bottom"
            v-for="(themes, index) in themesArr"
            :key="index"
            @click="showLoading(themes); getPagesForThisTheme(atualMaterial.id, themes.id); pageatual = pagesArr[0]; enableLayout(); closeModal();"
          >
            <div class="border rounded p-2 cursor-pointer">
              <b-row>
                <b-col class="text-center">
                  <b-img rounded :src="themes.img_background" :alt="themes.name" height="100"/>
                  <div class="text-center">
                    <hr>
                    <h6>
                      <b>{{themes.name}}</b>
                    </h6>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
    <div class="edit-area">
      <div class="drawer d-flex align-items-stretch">
        <div class="drawer-col-1 bg-light">
          <div class="drawer-themes" v-if="themeAtual">
            <div class="border-bottom p-1">TEMAS</div>

            <div class="drawer-overflow bg-white border-bottom">
              <div v-if="themesArr">
                <b-media
                  class="cursor-pointer border rounded p-2 mb-2 bg-light"
                  v-for="(themes, index) in themesArr"
                  :key="index"
                  @click="showLoading(themes); getPagesForThisTheme(atualMaterial.id, themes.id); pageatual = pagesArr[0]; enableLayout();"
                  vertical-align="center"
                >
                  <b-img
                    slot="aside"
                    class="shadow-primary"
                    :src="themes.img_background"
                    rounded
                    blank-color="#ccc"
                    height="60"
                    :alt="themes.name"
                  />
                  <div class="mt-3 text-uppercase">
                    <b>{{themes.name}}</b>
                  </div>
                  <div v-if="themeAtual.id === themes.id" class="text-success">
                    <i class="fas fa-check-circle"></i> selecionado
                  </div>
                </b-media>
              </div>
              <div v-if="!themesArr" style="margin-left: 2vw;">
                <b-alert show variant="secondary">Carregando temas..</b-alert>
              </div>
            </div>
          </div>

          <div class="drawer-pages" v-if="themeAtual">
            <div class="border-bottom p-1">PÁGINAS</div>

            <div class="drawer-overflow bg-white border-bottom text-uppercase">
              <div class="p-2">
                <div class="mb-2 bg-light border rounded p-2">
                  <b>
                    <i class="fas fa-folder-open mr-2"></i> Cartaz de preços
                  </b>
                </div>

                <div class="ml-4 mb-2 bg-light border rounded p-2">
                  <b>
                    <i class="fas fa-folder-open mr-2"></i>
                    {{ (themeAtual.name) ? themeAtual.name : 'Tema' }}
                  </b>
                </div>

                <div
                  class="ml-5 mb-2 bg-light border rounded p-2"
                  v-for="(value, key) in pagesArr"
                  v-bind:key="key"
                >
                  <a :href="'#clone'+(key+1)">
                    <div>
                      <i class="fas fa-file-alt mr-2"></i>
                      {{ value.name }}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="drawer-grid">
          <div class="bg-light border-bottom shadow-sm p-1">GRID
            <div style="width: 50%; float: right" class="text-right cursor-pointer zoom-links">
              <a class="p-1" @click="zoomChange(25)" href="#clone">25%</a>
              <a class="border-left p-1" @click="zoomChange(50)" href="#clone">50%</a>
              <a class="border-left p-1" @click="zoomChange(100)" href="#clone">100%</a>
            </div>
          </div>

          <div class="drawer-overflow">
            <b-container class="material-contain" v-bind:class="zoomGrid">
              <div id="clone" v-show="themeAtual && (pageAtual != -1)">
                <img :src="imgbg" class="imagebg" @load="loadedTheme">
                <div class="description-row">
                  <div
                    class="title-0"
                    @click="isEditing = true; whichIsEditing = 'title_0'"
                    v-bind:style="getStyle('title_0')"
                  >
                    <span class="can-edit">{{ layoutCartaz.title_0.value }}</span>
                  </div>
                  <div
                    class="title-1"
                    @click="isEditing = true; whichIsEditing = 'title_1'"
                    v-bind:style="getStyle('title_1')"
                  >
                    <span class="can-edit">{{ layoutCartaz.title_1.value }}</span>
                  </div>
                  <div
                    class="title-2"
                    @click="isEditing = true; whichIsEditing = 'title_2'"
                    v-bind:style="getStyle('title_2')"
                  >
                    <span class="can-edit">{{ layoutCartaz.title_2.value }}</span>
                  </div>
                </div>
                <div class="price-row">
                  <div
                    class="de-por"
                    v-if="layoutCartaz.opt_price == 1 || layoutCartaz.opt_price == 2"
                    @click="isEditing = true; whichIsEditing = 'de_por'"
                    v-bind:style="getStyle('de_por')"
                  >
                    <span
                      class="can-edit"
                      v-if="layoutCartaz.opt_price == 1"
                    >{{ layoutCartaz.de_por.value }}</span>
                  </div>
                  <div
                    class="valor-produto"
                    v-if="layoutCartaz.opt_price == 1 || layoutCartaz.opt_price == 2"
                    @click="isEditing = true; whichIsEditing = 'price'"
                    v-bind:style="getStyle('price')"
                  >
                    <span class="can-edit">{{ layoutCartaz.price.value }}</span>
                  </div>
                  <div
                    class="unidade"
                    v-if="layoutCartaz.opt_price == 1 || layoutCartaz.opt_price == 2"
                  >
                    <span
                      class="can-edit"
                      @click="isEditing = true; whichIsEditing = 'moeda'"
                      v-bind:style="getStyle('moeda')"
                    >{{ layoutCartaz.moeda.value }}</span>
                    <span
                      class="can-edit"
                      @click="isEditing = true; whichIsEditing = 'und'"
                      v-bind:style="getStyle('und')"
                    >{{ layoutCartaz.und.value }}</span>
                  </div>
                  <div
                    class="oferta"
                    @click="isEditing = true; whichIsEditing = 'oferta'"
                    v-bind:style="getStyle('oferta')"
                    v-if="layoutCartaz.opt_price == 3"
                  >
                    <span class="can-edit">{{ layoutCartaz.oferta.value }}</span>
                  </div>
                  <div
                    class="especial"
                    @click="isEditing = true; whichIsEditing = 'especial'"
                    v-bind:style="getStyle('especial')"
                    v-if="layoutCartaz.opt_price == 3"
                  >
                    <span class="can-edit">{{ layoutCartaz.especial.value }}</span>
                  </div>
                </div>
              </div>
            </b-container>
          </div>
        </div>

        <div class="drawer-col-2 bg-light">
          <div class="drawer-priceposter-text" v-if="(themeAtual && (pageAtual != -1))">
            <div class="border-bottom p-1">FORMATAÇÃO DO TEXTO</div>

            <div class="drawer-overflow bg-white border-bottom">
              <b-container fluid>
                <div class="label-edit-area" v-if="isEditing">
                  <b-row>
                    <b-col>
                      <b-form-group label="TEXTO" label-for="edit-text">
                        <b-form-textarea
                          id="edit-text"
                          :rows="2"
                          :max-rows="5"
                          v-model="layoutCartaz[whichIsEditing].value"
                          @input="valueModified()"
                        ></b-form-textarea>
                      </b-form-group>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>TAM. DA FONTE
                      <vue-slider
                        v-model="layoutCartaz[whichIsEditing].fontSize"
                        tooltip-dir="bottom"
                        :min="layoutCartaz[whichIsEditing].min"
                        :max="layoutCartaz[whichIsEditing].max"
                        @drag-start="valueModified()"
                        :stop-propagation="true"
                      ></vue-slider>
                    </b-col>
                    <b-col>
                      <b-form-group label="COR DA FONTE" label-for="font-color">
                        <b-form-input
                          v-model="layoutCartaz[whichIsEditing].color"
                          type="color"
                          placeholder="Cor"
                          @input="valueModified()"
                        ></b-form-input>
                      </b-form-group>
                    </b-col>
                  </b-row>
                </div>

                <div class="label-edit-area text-uppercase text-center pt-5" v-if="!isEditing">
                  <p>
                    <i class="fas fa-hand-point-left fa-2x text-muted"></i>
                  </p>
                  <p>Clique em algum texto para editar</p>
                </div>
              </b-container>
            </div>
          </div>

          <div class="drawer-price-layout" v-if="themeAtual">
            <div class="border-bottom p-1">LAYOUT DO PREÇO</div>

            <div class="drawer-overflow bg-white border-bottom px-4 py-3">
              <div class="custom-control custom-switch my-2">
                <input
                  type="radio"
                  class="custom-control-input"
                  value="2"
                  v-model="layoutCartaz.opt_price"
                  id="layout_cartaz_opt_price_2"
                >
                <label class="custom-control-label text-uppercase" for="layout_cartaz_opt_price_2">
                  <b>Preço Comum</b>
                </label>
              </div>

              <div class="custom-control custom-switch my-2">
                <input
                  type="radio"
                  class="custom-control-input"
                  value="1"
                  v-model="layoutCartaz.opt_price"
                  id="layout_cartaz_opt_price_1"
                >
                <label class="custom-control-label text-uppercase" for="layout_cartaz_opt_price_1">
                  <b>De: * Por: *</b>
                </label>
              </div>

              <div class="custom-control custom-switch my-2">
                <input
                  type="radio"
                  class="custom-control-input"
                  value="3"
                  v-model="layoutCartaz.opt_price"
                  id="layout_cartaz_opt_price_3"
                >
                <label class="custom-control-label text-uppercase" for="layout_cartaz_opt_price_3">
                  <b>Oferta Especial</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notifications from "vue-notification";
import jsPDF from "jspdf";
import EditMenu from "@/components/EditMenu.vue";
import vueSlider from "vue-slider-component";
import Swal from "sweetalert2";
var domtoimage = require("dom-to-image");
var FileSaver = require("file-saver");

export default {
  name: "Priceposter",
  components: {
    EditMenu,
    vueSlider
  },
  data() {
    return {
      selected: 1, //Value do Select Troca de Layout
      layoutCartaz: {
        title_0: {
          value: "NOME DO SEU PRODUTO",
          edit: false,
          fontSize: 45,
          color: "#333333",
          min: 20,
          max: 100
        },
        title_1: {
          value: "MARCA OU TIPO DO PRODUTO",
          edit: false,
          fontSize: 65,
          color: "#0000ff",
          min: 20,
          max: 150
        },
        title_2: {
          value: "INFORMAÇÕES ADICIONAIS DA SUA OFERTA",
          edit: false,
          fontSize: 20,
          color: "#333333",
          min: 20,
          max: 100
        },
        opt_price: 1,
        de_por: {
          value: "de R$ 999,00 por",
          edit: false,
          fontSize: 80,
          color: "#333333",
          min: 50,
          max: 120
        },
        price: {
          value: "99,99",
          edit: false,
          fontSize: 200,
          color: "#ff0000",
          min: 50,
          max: 250
        },
        und: {
          value: "und.",
          edit: false,
          fontSize: 50,
          color: "#333333",
          min: 35,
          max: 60
        },
        moeda: {
          value: "R$",
          edit: false,
          fontSize: 50,
          color: "#333333",
          min: 50,
          max: 120
        },
        oferta: {
          value: "OFERTA",
          edit: false,
          fontSize: 150,
          color: "#ff0000",
          min: 50,
          max: 200
        },
        especial: {
          value: "ESPECIAL",
          edit: false,
          fontSize: 150,
          color: "#ff0000",
          min: 50,
          max: 200
        }
      },
      isEditing: false, //Chave Modo Edição
      whichIsEditing: "", // qual está sendo editado
      themeAtual: false,
      themesArr: [],
      isSavedModel: false,
      prodEnv: require("@/config/prod.env.js"),
      themeProvider: require("@/providers/ThemeProvider.js"),
      materialProvider: require("@/providers/MaterialProvider.js"),
      pageProvider: require("@/providers/PageProvider.js"),
      dataSavedModel: false,
      logoImg: false,
      atualMaterial: false,
      imgbg: null,
      pageAtual: -1,
      pagesArr: [],
      disable: false,
      zoomGrid: "zoom-100",
      loaderTheme: null
    };
  },
  methods: {
    showLoading(theme) {
      if (this.themeAtual.id != theme.id) {
        this.themeAtual = theme;
        this.loaderTheme = this.$loading.show();
      }
    },
    loadedTheme: function() {
      if (this.loaderTheme) {
        this.loaderTheme.hide();
        this.loaderTheme = null;
      }
    },
    valueModified() {
      localStorage.setItem("isModified", true);
    },
    zoomChange: function(z) {
      this.zoomGrid = "zoom-" + z;
    },
    saveImg(tam, png) {
      var self = this;
      return new Promise(resolve => {
        var pai = document.getElementById("clone");
        var options = {
          quality: 1
        };
        domtoimage.toPng(pai, options).then(blob => {
          if (png == 1) {
            var img = new Image(794, 1123);
            img.src = blob;
            var d = new Date();
            FileSaver.saveAs(
              blob,
              `Cartaz de ofertas - ${this.themeAtual.name}.png`
            );
          } else {
            self.createPDF(blob);
          }
        });
      });
    },
    createPDF(imagem) {
      var self = this;
      let pdfName = "test";
      var doc = new jsPDF({
        format: [794, 1123]
      });
      var width = doc.internal.pageSize.getWidth();
      var height = doc.internal.pageSize.getHeight();
      doc.internal.scaleFactor = 1.9;
      doc.addImage(imagem, "PNG", 0, 0, width, height);
      var d = new Date();
      doc.save(`Cartaz de preços - ${this.themeAtual.name}.pdf`);
    },
    showModalFinalizar() {
      Swal.fire({
        title: "Salvar material",
        text: "Como você quer baixar seu modelo?",
        showCancelButton: true,
        confirmButtonColor: "#007BFF",
        cancelButtonColor: "#F47200",
        confirmButtonText: '<i class="fas fa-image"></i> Download de Imagem',
        cancelButtonText:
          '<i class="fas fa-file-pdf"></i> Download de arquivo PDF'
      }).then(result => {
        if (result.value) {
          // por limitações do componente, um botão retorna valor e o outro não. quando tem valor é download de imagem
          this.saveImg(this.pageAtual.height, 1);
        } else if (result.dismiss == "cancel") {
          this.saveImg(this.pageAtual.height, 0);
        }
      });
    },
    hideModalFinalizar() {
      this.$refs.finalizar.hide();
    },
    saveImgMiniature(tam) {
      var self = this;
      return new Promise(resolve => {
        tam = self.pageAtual.width;
        var pai = document.getElementById("clone");
        var img = document.getElementsByClassName("imagebg");
        var options = {
          quality: 1
        };
        domtoimage.toBlob(pai, options).then(blob => {
          self.saveImagesBlob(blob).then(t => {
            self.previewSaved = t;
            resolve(t);
          });
        });
      });
    },
    notify(titulo, texto, tempo) {
      this.$notify({
        group: "foo",
        type: "sucess",
        title: titulo,
        classes: "notify",
        text: texto,
        duration: tempo,
        data: {}
      });
    },
    saveImagesBlob(file) {
      var self = this;
      return new Promise(resolve => {
        var formData = new FormData();
        formData.append("object", file);
        self.$http
          .post(self.prodEnv.API_URL + "/storage", formData, {
            crossDomain: true,
            headers: {
              "content-type": "multipart/form-data"
            }
          })
          .then(resp => {
            resolve(
              String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
            );
          });
      });
    },
    getStyle(material) {
      return {
        "font-size": this.layoutCartaz[material].fontSize + "px",
        color: this.layoutCartaz[material].color,
        "line-height": this.layoutCartaz[material].fontSize + "px"
      };
    },
    updateMaterial(data) {
      var self = this;
      var idmaterial = self.dataSavedModel.id;
      return new Promise(resolve => {
        var url =
          self.prodEnv.API_URL +
          "/user/material/update?material_user_id=" +
          idmaterial;
        this.$http
          .post(url, {
            data: JSON.stringify(data)
          })
          .then(resp => {
            resolve(resp);
          });
      });
    },
    createMaterial(data) {
      var self = this;
      return new Promise(resolve => {
        var idmaterial = self.atualMaterial.id;

        var formData = new FormData();
        formData.append("data", data);
        var url =
          self.prodEnv.API_URL +
          "/user/material/create?user_id="+JSON.parse(localStorage.getItem("user")).user.id+"&material_id=" +
          idmaterial;
        this.$http
          .post(url, {
            data: JSON.stringify(data)
          })
          .then(resp => {
            resolve(resp);
          });
      });
    },
    saveAll() {
      var self = this;
      self.isEditing = false;
      var loading = this.$loading.show();
      self.saveImgMiniature().then(ur => {
        var myjson = {
          Pagina: self.pageAtual.id,
          layoutCartaz: self.layoutCartaz,
          miniature: ur,
          theme: self.themeAtual.id
        };
        if (!self.isSavedModel) {
          self.createMaterial(myjson).then(r => {
            loading.hide();
            this.$swal({
              title: "Sucesso!",
              text: "Material salvo com sucesso.",
              type: "success"
            });
            self.dataSavedModel = myjson;
            self.dataSavedModel.id = r.body.material_user_id;
            self.isSavedModel = true;
            localStorage.setItem("isModified", false);
          });
        } else {
          self.updateMaterial(myjson).then(r => {
            this.$swal({
              title: "Sucesso!",
              text: "Material salvo com sucesso.",
              type: "success"
            });
            loading.hide();
            localStorage.setItem("isModified", false);
          });
        }
      });
    },
    changeLayout() {},
    clearEdit() {
      this.layoutCartaz.title_0.edit = false;
      this.layoutCartaz.title_1.edit = false;
      this.layoutCartaz.title_2.edit = false;
      this.layoutCartaz.de_por.edit = false;
      this.layoutCartaz.price.edit = false;
      this.layoutCartaz.und.edit = false;
      this.layoutCartaz.moeda.edit = false;
      this.layoutCartaz.oferta.edit = false;
      this.layoutCartaz.especial.edit = false;
      this.isEditing = !this.isEditing;
    },
    switchEdit(opt) {
      this.isEditing = !this.isEditing;
    },
    loadCartaz() {
      /*this.layoutCartaz = {
        title_0: {
          value: "NOME DO SEU PRODUTO",
          edit: false,
          fontSize: 45,
          color: "#333333"
        },
        title_1: {
          value: "MARCA OU TIPO DO PRODUTO",
          edit: false,
          fontSize: 65,
          color: "#0000ff"
        },
        title_2: {
          value: "INFORMAÇÕES ADICIONAIS DA SUA OFERTA",
          edit: false,
          fontSize: 20,
          color: "#333333"
        },
        opt_price: 1,
        de_por: {
          value: "de R$ 999,00 por",
          edit: false,
          fontSize: 80,
          color: "#333333"
        },
        price: {
          value: "99,99",
          edit: false,
          fontSize: 30,
          color: "#ff0000"
        },
        und: {
          value: "und.",
          edit: false,
          fontSize: 50,
          color: "#333333"
        },
        moeda: {
          value: "R$",
          edit: false,
          fontSize: 50,
          color: "#333333"
        },
        oferta: {
          value: "OFERTA",
          edit: false,
          fontSize: 150,
          color: "#ff0000"
        },
        especial: {
          value: "ESPECIAL",
          edit: false,
          fontSize: 150,
          color: "#ff0000"
        }
      };*/
    },
    enableLayout() {
      if (!this.loaderTheme) this.loaderTheme = this.$loading.show();

      var self = this;
      self.logoImg = false;
      self.imgbg = self.themeAtual.pages[0].background_path;
      if (self.pageAtual.name == "Verso") {
        self.disable = true;
        self.logoImg = true;
      } else {
        self.disable = false;
      }
      this.loaderTheme.hide();
      this.loaderTheme = null;
    },
    getThemes() {
      var self = this;
      let loader = this.$loading.show();
      self.themeProvider.default
        .getThemes(3)
        .then(result => {
          let themeA = result.body;
          if (themeA.status == 1) {
            themeA.data.forEach(value => {
              self.themesArr.push({
                id: value.id,
                name: value.name,
                path_cover: value.cover_path,
                img_background: value.cover_path,
                identifier: value.identifier
              });
            });
          }
          loader.hide();
        })
        .catch(err => {
          loader.hide();
          //exeption
          throw new Error(err.message);
        });
    },
    showModal() {
      this.$refs.themesModal.show();
    },
    closeModal() {
      this.$refs.themesModal.hide();
    },
    getPagesForThisTheme(idM, idT) {
      return new Promise(resolve => {
        var self = this;
        self.pagesArr = [];
        self.themeProvider.default
          .getTheme(idM, idT)
          .then(result => {
            if (result) {
              var pages = result.body.data.pages;

              pages.forEach((item, key) => {
                if (key == 0) {
                  self.pageAtual = item;
                }
              });
              resolve((self.pagesArr = pages));
              if (self.pagesArr.length > 0) {
                this.pageAtual = self.pagesArr[0];
              }
            }
          })
          .then(a => {
            self.pageProvider.default
              .getPages(idM)
              .then(result => {
                if (result) {
                  resolve(
                    result.forEach(item => {
                      self.pagesArr.forEach((page, key) => {
                        if (item.id == page.page_id) {
                          page.widthh = item.width;
                          page.heightt = item.height;
                        }
                        if (key == 0) {
                          self.pageAtual = page;
                        }
                      });
                    })
                  );
                }
              })
              .catch(resp => {});
          });
      });
    },
    getThemes(id) {
      return new Promise(resolve => {
        var self = this;
        self.themeProvider.default
          .getThemes(id)
          .then(result => {
            let themeA = result.body;
            if (themeA.status == 1) {
              self.themesArr = [];
              themeA.data.forEach(value => {
                resolve(
                  self.themesArr.push({
                    id: value.id,
                    name: value.name,
                    path_cover: value.cover_path,
                    img_background: value.cover_path,
                    identifier: value.identifier,
                    pages: value.pages,
                    prices: value.prices
                  })
                );
                self.getPagesForThisTheme(id, value.id);
              });
            }
          })
          .catch(err => {
            //exeption
            throw new Error(err.message);
          });
      });
    },
    updateMouted() {
      this.loaderTheme = this.$loading.show();

      var self = this;
      var dados = self.$router.history.current.params.dados;
      self.dataSavedModel = dados;
      var storage = self.prodEnv.API_STORAGE;

      self.themeAtual = true;

      self.layoutCartaz = dados.json.layoutCartaz;

      self.getAtualMaterial(dados.material_id);

      self.getThemes(dados.material_id).then(t => {
        self
          .getPagesForThisTheme(dados.material_id, dados.json.theme)
          .then(r => {
            self.themeAtual = true;

            self.themesArr.forEach(resp => {
              if (resp.id == dados.json.theme) {
                self.themeAtual = resp;
              }
            });
            self.pagesArr.forEach(item => {
              if (item.id == dados.json.Pagina) {
                self.pageAtual = item;
                self.imgbg = item.background_path;
              }
            });
          });
      });
    },
    getAtualMaterial(id) {
      var self = this;

      self.materialProvider.default
        .getMaterial(id)
        .then(result => {
          if (result.status == 1) {
            self.atualMaterial = result.data;

            self.getThemes(result.data.id);
          }
        })
        .catch(err => {
          //exeption
          throw new Error(err.message);
        });
    }
  },
  mounted() {
    this.loadCartaz();
    var self = this;
    if (self.$router.history.current.params.dados) {
      self.isSavedModel = true;
      self.updateMouted();
      //self.getThemes();
    } else {
      setTimeout(() => {
        this.showModal();
      }, 100);
      self.getAtualMaterial(3);
      self.getThemes();
    }
  }
};
</script>

<style scoped>
.body {
  width: 100%;
  height: auto;
  background-color: white;
  padding-bottom: 20px;
  margin-top: 35px;
}
.vue-slider-component {
  margin-top: 13px;
}
/*.body .row {
  height: 100%;
  background: white;
}*/

.workstation {
  background: #eef0f4;
  border: 1px solid lightgrey;
}

.page-select {
  padding-top: 15px;
  height: 25%;
  overflow-y: auto;
}
.page-select a {
  color: black;
}
.pages {
  font-size: 13px;
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: left;
}
.page {
  cursor: pointer;
  margin: 5px 0 0 20px;
}

.theme-select {
  height: 70%;
  max-height: 400px;
  overflow-y: auto;
}

.settings-area {
  margin-top: 20px;
}

.select-layout {
  font-size: 13px;
}
.select-area {
  border-bottom: 1px solid #dee2e6 !important;
  padding-bottom: 5px;
}
span.title {
  font-size: 14px;
  font-weight: bold;
}

.themes-list {
  margin: 20px 0 0 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.theme {
  width: 45%;
  margin: 3px;
}

.theme img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.material-contain {
  font-family: "Anton", sans-serif !important;
}

.priceposter-area {
  width: 794px;
  margin: auto;
}

.poster,
#clone {
  position: relative;
  width: 100%;
  height: auto;
}

#clone img {
  width: 100%;
  height: auto;
}

.description-row {
  position: absolute;
  bottom: 52%;
  left: 5%;
  height: 22%;
  width: 90%;
}

.oferta,
.especial {
  height: 40%;
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-row {
  position: absolute;
  bottom: 3%;
  left: 4%;
  width: 92%;
  height: 47%;
}

.theme {
  cursor: pointer;
}

.poster-title {
  height: 33.33333%;
}

.title-0 {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-1 {
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-2 {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.de-por {
  height: 15%;
  text-align: left;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
}

.valor-produto {
  height: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 50px 0 0;
}

.unidade {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 10px 20px;
  height: 10%;
}
.themes-row {
  min-height: 200px;
}

.label-text,
.label-font,
.label-color {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  color: black;
}

.editing-panel {
  border: 1px solid #cbcbcb;
  padding: 10px;
  border-radius: 5px;
}

.config {
  font-size: 12px;
  color: black;
}

#clone,
#clone img {
  width: 794px;
  height: 1123px;
}
.priceposter-area {
  width: 794px;
  margin: auto;
}
.workstation {
  overflow: auto;
  padding: 0;
}
.can-edit {
  cursor: pointer;
}
input,
select,
textarea {
  font-size: 14px;
}
.label-edit-area {
  padding-top: 10px;
}
</style>
