<template>
  <div class="testeira">
    <div class="header">
      <EditMenu @save-all="saveAll()" @download="download();"/>
    </div>
    <b-modal ref="Croppermodal" centered hide-header hide-footer style="z-index: 10020!important;">
      <b-alert show dismissible fade variant="success">
        <p style="font-size: 12px;">
          Você pode usar as funções arrasta e solta, ou se preferir clique para fazer o upload de sua imagem.
          Use o scroll do mouse como zoom e arraste para posicionar sua imagem.
        </p>
      </b-alert>
      <div class="container">
        <div class="row">
          <div class="col-md-12 canvas-area">
            <croppa
              v-model="croppa"
              :width="300"
              :height="300"
              placeholder="Faça upload da sua imagem"
              placeholder-color="#000"
              :placeholder-font-size="16"
              canvas-color="#ffffff"
              :show-remove-button="true"
              remove-button-color="black"
              :show-loading="true"
              :loading-size="50"
            ></croppa>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>
              <button class="buttonFlips" @click="croppa.rotate()">Girar 90º</button>
              <button class="buttonFlips" @click="croppa.rotate(2)">Girar 180º</button>
              <button class="buttonFlips" @click="croppa.rotate(-1)">Girar -90º</button>
              <button class="buttonFlips" @click="croppa.flipX()">Flip Horizontal</button>
              <button class="buttonFlips" @click="croppa.flipY()">Flip Vertical</button>
            </div>
            <div class="button-row">
              <button
                class="concluirbutton"
                @click="getimagecrop('image/jpeg', 0.8)"
              >Concluir Edição</button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
    <div class="body">
      <b-modal
        id="modal-center"
        size="lg"
        centered
        title="Selecione um tema"
        ref="themesModal"
        hide-footer
        hide-header
        v-if="!isSavedModel"
        :no-close-on-backdrop="true"
        :no-close-on-esc="true"
      >
        <h4>Selecione um tema</h4>
        <hr>

        <div class="text-center">
          <div class="row" v-if="themesArr">
            <div
              class="col-md-4 padding-bottom"
              v-for="(themes, index) in themesArr"
              :key="index"
              @click="showLoading(themes); getPagesForThisTheme(atualMaterial.id, themes.id); pageatual = pagesArr[0]; enableLayout(); closeModal();"
            >
              <div class="border rounded p-2 cursor-pointer">
                <b-row>
                  <b-col class="text-center">
                    <b-img rounded :src="themes.img_background" :alt="themes.name" height="100"/>
                    <div class="text-center">
                      <hr>
                      <h6>
                        <b>{{themes.name}}</b>
                      </h6>
                    </div>
                  </b-col>
                </b-row>
              </div>
            </div>
          </div>
        </div>
      </b-modal>

      <div class="container-fluid">
        <div class="drawer d-flex align-items-stretch">
          <div class="drawer-col-1 bg-light">
            <div class="drawer-themes" v-if="themeAtual">
              <div class="border-bottom p-1">TEMAS</div>

              <div class="drawer-overflow bg-white border-bottom">
                <div v-if="themesArr">
                  <b-media
                    class="cursor-pointer border rounded p-2 mb-2 bg-light"
                    v-for="(themes, index) in themesArr"
                    :key="index"
                    @click="showLoading(themes); getPagesForThisTheme(atualMaterial.id, themes.id);"
                    vertical-align="center"
                  >
                    <b-img
                      slot="aside"
                      class="shadow-primary"
                      :src="themes.img_background"
                      rounded
                      blank-color="#ccc"
                      height="60"
                      :alt="themes.name"
                    />
                    <div class="mt-3 text-uppercase">
                      <b>{{themes.name}}</b>
                    </div>
                    <div v-if="themeAtual.id === themes.id" class="text-success">
                      <i class="fas fa-check-circle"></i> selecionado
                    </div>
                  </b-media>
                </div>

                <div v-if="!themesArr" style="margin-left: 2vw;">
                  <b-alert show variant="secondary">Carregando temas..</b-alert>
                </div>
              </div>
            </div>

            <div class="drawer-pages" v-if="themeAtual">
              <div class="border-bottom p-1">PÁGINAS</div>

              <div class="drawer-overflow bg-white border-bottom text-uppercase">
                <div class="p-2">
                  <div class="mb-2 bg-light border rounded p-2">
                    <b>
                      <i class="fas fa-folder-open mr-2"></i> Bandeirola
                    </b>
                  </div>

                  <div class="ml-4 mb-2 bg-light border rounded p-2">
                    <b>
                      <i class="fas fa-folder-open mr-2"></i>
                      {{ (themeAtual.name) ? themeAtual.name : 'Tema' }}
                    </b>
                  </div>

                  <div
                    class="ml-5 mb-2 bg-light border rounded p-2"
                    v-for="(value, key) in pagesArr"
                    v-bind:key="key"
                  >
                    <a :href="'#page'+(key+1)">
                      <div>
                        <i class="fas fa-file-alt mr-2"></i>
                        {{ value.name }}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="drawer-grid">
            <div class="bg-light border-bottom shadow-sm p-1">GRID
              <div style="width: 50%; float: right" class="text-right cursor-pointer zoom-links">
                <a class="p-1" @click="zoomChange(25)" href="#clone">25%</a>
                <a class="border-left p-1" @click="zoomChange(50)" href="#clone">50%</a>
                <a class="border-left p-1" @click="zoomChange(100)" href="#clone">100%</a>
              </div>
            </div>

            <div class="drawer-overflow">
              <b-container v-bind:class="zoomGrid">
                <b-row>
                  <div class="border1" id="clone">
                    <div class="banderole_contain" v-if="themeAtual && (pageAtual != -1)">
                      <img :src="imgbg" class="imagebg" @load="loadedTheme">
                      <div class="logo-contain" v-bind:class="{ 'uploadLogoBorder': !logoImg }">
                        <div class="delete_logo" v-if="logoImg" @click="deleteLogo">EXCLUIR LOGO</div>
                        <!-- <input
                          type="file"
                          v-if="!logoImg"
                          @change="onFileChange"
                          name="file"
                          class="upload"
                          id="file"
                          accept=".png"
                          style="display: none"
                        >
                        <label for="file" v-if="!logoImg">-->
                        <div class="upload-area" v-if="!hasImg" @click="$refs.Croppermodal.show()">
                          <img src="static/ico_upload_img.png" v-if="!hasImg">
                          <h6>Enviar Logo</h6>
                        </div>
                        <img v-if="hasImg" :src="logoImg">
                      </div>
                    </div>
                    <div
                      style="width: 680px;height:800px "
                      v-if="!(themeAtual && (pageAtual != -1))"
                    >
                      <div class="spinner3" style="width: 157px;margin: auto; padding-top: 50vh;">
                        <div v-if="!themeAtual">
                          <h5
                            style="font-weight: 900; color: #F47200;"
                          >PARA COMEÇAR, SELECIONE UM TEMA</h5>
                        </div>
                        <div v-if="themeAtual && (pageAtual == -1)">
                          <h5 style="font-weight: 900; color: #F47200;">AGORA, SELECIONE UMA PAGINA</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-row>
              </b-container>
            </div>
          </div>

          <div class="drawer-col-2 bg-light">
            <div class="drawer-logo" v-if="themeAtual">
              <div class="border-bottom p-1">LOGO</div>

              <div class="drawer-overflow bg-white border-bottom">
                <div class="text-center border rounded p-3">
                  <i v-if="!logoImg" class="fas fa-image fa-8x text-muted"></i>
                  <b-img v-if="logoImg" :src="logoImg" fluid style="max-height: 150px"/>
                </div>

                <div class="settings">
                  <div class="upload-logo">
                    <!-- <input
                      type="file"
                      v-if="!logoImg"
                      @change="onFileChange"
                      name="file2"
                      class="upload"
                      id="file2"
                      accept=".png"
                      style="display: none"
                    >
                    <label for="file2" v-if="!logoImg">-->
                    <div
                      class="btn btn-lg btn-orange"
                      v-if="!hasImg"
                      @click="$refs.Croppermodal.show()"
                    >
                      <i class="fas fa-upload"></i>
                      <br>ENVIAR SUA MARCA
                    </div>
                    <!-- </label> -->
                    <div class="btn btn-sm btn-red" v-if="hasImg" @click="deleteLogo">
                      <i class="fas fa-trash"></i>
                      REMOVER LOGO
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notifications from "vue-notification";
import EditMenu from "@/components/EditMenu.vue";
import jsPDF from "jspdf";
import Swal from "sweetalert2";
var domtoimage = require("dom-to-image");
var FileSaver = require("file-saver");

export default {
  name: "Testeira",
  components: {
    EditMenu
  },
  data() {
    return {
      croppa: {},
      hasImg: false,
      dataSavedModel: false,
      isSavedModel: false,
      themeProvider: require("@/providers/ThemeProvider.js"),
      materialProvider: require("@/providers/MaterialProvider.js"),
      pageProvider: require("@/providers/PageProvider.js"),
      logoImg: false,
      atualMaterial: false,
      spinnerGlobal: true,
      imgbg: "static/preview/default_testeira.png",
      pageAtual: -1,
      pagesArr: [],
      themeAtual: false,
      themesArr: [],
      disable: false,
      prodEnv: require("@/config/prod.env.js"),
      zoomGrid: "zoom-100",
      loaderTheme: null
    };
  },
  methods: {
    showLoading(theme) {
      if (this.themeAtual.id != theme.id) {
        this.themeAtual = theme;
        this.loaderTheme = this.$loading.show();
      }
    },
    loadedTheme() {
      this.loaderTheme.hide();
      this.loaderTheme = null;
    },
    deleteLogo() {
      this.logoImg = false;
      localStorage.setItem("isModified", true);
      this.hasImg = false;
    },
    zoomChange: function(z) {
      this.zoomGrid = "zoom-" + z;
    },
    clearLogo() {
      document.getElementById("upload_propert").value = "";
      this.logoImg = false;
      localStorage.setItem("isModified", true);
    },
    saveImg(tam, png) {
      var self = this;
      let loading;
      return new Promise(resolve => {
        tam = self.pageAtual.width;
        if (self.logoImg) {
          self.spinnerGlobal = true;
          loading = this.$loading.show();
          var pai = document.getElementById("clone");
          var resize = document.getElementsByClassName("banderole_contain")[0];
          var default_W = resize.style.width;
          var default_H = resize.style.height;
          resize.style.width = tam + "px";
          //var img = document.getElementsByClassName("imagebg");
          var height = self.$refs.bg;
          var modifi = pai.childNodes[0];
          var options = {
            quality: 1,
            width: tam
          };
          domtoimage.toPng(modifi, options).then(blob => {
            if (png == 1) {
              var d = new Date();
              FileSaver.saveAs(blob, `Testeira - ${this.themeAtual.name}.png`);
            } else {
              self.createPDF(blob);
            }
            resize.style.width = default_W;
            resize.style.height = default_H;
            loading.hide();
          });
        } else {
          this.$swal({
            title: "Erro!",
            text: "Você precisa salvar seu modelo antes de exportar.",
            type: "warning"
          });
        }
      });
    },
    saveImgMiniature(tam) {
      var self = this;
      let loading;
      return new Promise(resolve => {
        tam = self.pageAtual.width;
        if (self.logoImg) {
          self.spinnerGlobal = true;
          loading = this.$loading.show();
          var pai = document.getElementById("clone");
          var options = {
            quality: 1,
            width: tam
          };
          domtoimage.toBlob(pai, options).then(blob => {
            self.saveImagesBlob(blob).then(t => {
              self.previewSaved = t;
              resolve(t);
            });
            loading.hide();
          });
        } else {
          this.$swal({
            title: "Erro!",
            text: "Você precisa editar seu modelo antes de exportar.",
            type: "warning"
          });
        }
      });
    },
    onFileChange(e) {
      const file = e.target.files[0];
      this.logoImg = URL.createObjectURL(file);
      localStorage.setItem("isModified", true);
    },

    saveImagesBlob(file) {
      var self = this;
      return new Promise(resolve => {
        var formData = new FormData();
        formData.append("object", file);
        self.$http
          .post(self.prodEnv.API_URL + "/storage", formData, {
            crossDomain: true,
            headers: { "content-type": "multipart/form-data" }
          })
          .then(resp => {
            resolve(
              String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
            );
          });
      });
    },
    createPDF(imagem) {
      var self = this;
      let pdfName = "test";
      var doc = new jsPDF({
        orientation: "landscape",
        format: "a4"
      });
      var width = self.pageAtual.width;
      var height = self.pageAtual.height;
      doc.addImage(imagem, "PNG", 28, 35, width / 3, height / 3);
      var d = new Date();
      doc.save(`Testeira - ${this.themeAtual.name}.pdf`);
    },
    showModalFinalizar() {
      Swal.fire({
        title: "Salvar material",
        text: "Como você quer baixar seu modelo?",
        showCancelButton: true,
        confirmButtonColor: "#007BFF",
        cancelButtonColor: "#F47200",
        confirmButtonText: '<i class="fas fa-image"></i> Download de Imagem',
        cancelButtonText:
          '<i class="fas fa-file-pdf"></i> Download de arquivo PDF'
      }).then(result => {
        if (result.value) {
          // por limitações do componente, um botão retorna valor e o outro não. quando tem valor é download de imagem
          this.saveImg(this.pageAtual.height, 1);
        } else if (result.dismiss == "cancel") {
          this.saveImg(this.pageAtual.height, 0);
        }
      });
    },
    hideModalFinalizar() {
      this.$refs.Finalizar.hide();
    },
    enableLayout() {
      var self = this;
      //self.logoImg =  false
      self.imgbg = self.pageAtual.background_path;
      if (self.pageAtual.name == "Verso") {
        self.disable = true;
        self.logoImg = true;
      } else {
        self.disable = false;
      }
    },
    urltoFile(url, filename, mimeType) {
      mimeType = mimeType || (String(url).match(/^data:([^;]+);/) || "")[1];
      return fetch(url)
        .then(function(res) {
          return res.arrayBuffer();
        })
        .then(function(buf) {
          return new File([buf], filename, { type: mimeType });
        });
    },
    createMaterial(data) {
      var self = this;
      return new Promise(resolve => {
        var idmaterial = self.atualMaterial.id;

        var formData = new FormData();
        formData.append("data", data);
        var url =
          self.prodEnv.API_URL +
          "/user/material/create?user_id="+JSON.parse(localStorage.getItem("user")).user.id+"&material_id=" +
          idmaterial;

        this.$http
          .post(url, {
            data: JSON.stringify(data)
          })
          .then(resp => {
            self.dataSavedModel = data;
            self.dataSavedModel.id = resp.body.material_user_id;
            resolve(resp);
          });
      });
    },
    saveImages(file) {
      var self = this;
      var result = null;
      return new Promise(resolve => {
        self.urltoFile(file).then(function(res) {
          var formData = new FormData();
          formData.append("object", res);
          self.$http
            .post(self.prodEnv.API_URL + "/storage", formData, {
              crossDomain: true,
              headers: {
                "content-type": "multipart/form-data"
              }
            })
            .then(resp => {
              resolve(
                String(resp.body.path).replace(self.prodEnv.API_STORAGE, "")
              );
            });
        });
      });
    },
    saveAll() {
      var self = this;
      let loading = this.$loading.show();
      if (self.logoImg) {
        var produtos = this.produtosGrid;

        var logo;
        var text1 = this.htmlForEditor;
        var text2 = this.htmlForEditor2;
        self.saveImages(self.logoImg).then(resp => {
          var logo = resp;
          self.saveImgMiniature().then(ur => {
            var myjson = {
              Logo: logo,
              Pagina: self.pageAtual.id,
              miniature: ur,
              theme: self.themeAtual.id,
              imgbg: self.imgbg
            };
            if (!self.isSavedModel) {
              self.createMaterial(myjson).then(r => {
                loading.hide();
                this.$swal({
                  title: "Sucesso!",
                  text: r.body.mensagem,
                  type: "success"
                });
                self.isSavedModel = true;
                loading.hide();
                localStorage.setItem("isModified", false);
              });
            } else {
              self.updateMaterial(myjson).then(r => {
                loading.hide();
                this.$swal({
                  title: "Sucesso!",
                  text: r.body.mensagem,
                  type: "success"
                });
                loading.hide();
                localStorage.setItem("isModified", false);
              });
            }
          });
        });
      } else {
        loading.hide();
        this.$swal({
          title: "Erro!",
          text: "Você precisa editar o seu modelo antes de salvar.",
          type: "warning"
        });
      }
    },
    download() {
      this.showModalFinalizar();
    },
    notify(titulo, texto, tempo) {
      this.$notify({
        group: "foo",
        type: "sucess",
        title: titulo,
        classes: "notify",
        text: texto,
        duration: tempo,
        data: {}
      });
    },
    getPagesForThisTheme(idM, idT) {
      var self = this;
      return new Promise(resolve => {
        self.pagesArr = [];
        self.themeProvider.default
          .getTheme(idM, idT)
          .then(result => {
            if (result) {
              var pages = result.body.data.pages;
              self.pagesArr = pages;
              self.pageAtual = self.pagesArr[0];
              self.enableLayout();
            }
          })
          .then(id => {
            self.pageProvider.default
              .getPages(idM)
              .then(result => {
                if (result) {
                  resolve(
                    result.forEach(item => {
                      self.pagesArr.forEach((page, key) => {
                        if (item.id == page.page_id) {
                          page.width = item.width;
                          page.height = item.height;
                        }
                        if (key == 0) {
                          self.pageAtual = page;
                        }
                      });
                    })
                  );
                }
                self.spinnerGlobal = false;
              })
              .catch(resp => {});
          })
          .catch(resp => {});
      });
    },
    showModal() {
      this.$refs.themesModal.show();
    },
    closeModal() {
      this.$refs.themesModal.hide();
    },
    async getThemes(id) {
      return new Promise((resolve, reject) => {
        var self = this;
        self.themeProvider.default
          .getThemes(id)
          .then(result => {
            let themeA = result.body;
            if (themeA.status == 1) {
              self.themesArr = [];

              themeA.data.forEach(value => {
                self.themesArr.push({
                  id: value.id,
                  name: value.name,
                  path_cover: value.cover_path,
                  img_background: value.cover_path,
                  identifier: value.identifier,
                  pages: value.pages,
                  prices: value.prices
                });
              });
              resolve();
            }
          })
          .catch(err => {
            //exeption
            throw new Error(err.message);
          });
      });
    },
    async getAtualMaterial(id) {
      var self = this;
      return new Promise((resolve, reject) => {
        self.materialProvider.default
          .getMaterial(id)
          .then(result => {
            if (result.status == 1) {
              self.atualMaterial = result.data;
              self.getThemes(result.data.id).then(() => {
                resolve();
              });
            }
          })
          .catch(err => {
            throw new Error(err.message);
          });
      });
    },
    getimagecrop(type, compressionRate) {
      var self = this;

      this.croppa.generateBlob(
        blob => {
          var url = URL.createObjectURL(blob);
          self.logoImg = url;
        },
        type,
        compressionRate
      );

      self.$refs.Croppermodal.hide();
      self.croppa.remove();
      this.hasImg = true;
    },

    updateMaterial(data) {
      var self = this;
      var idmaterial = self.dataSavedModel.id;
      return new Promise(resolve => {
        var url =
          self.prodEnv.API_URL +
          "/user/material/update?material_user_id=" +
          idmaterial;
        this.$http
          .post(url, {
            data: JSON.stringify(data)
          })
          .then(resp => {
            resolve(resp);
          });
      });
    },
    async updateMouted() {
      let loading = this.$loading.show();
      var self = this;
      var dados = self.$router.history.current.params.dados;
      self.dataSavedModel = dados;
      var storage = self.prodEnv.API_STORAGE;
      await self.getAtualMaterial(dados.material_id);
      self
        .getPagesForThisTheme(dados.material_id, dados.json.theme)
        .then(r => {
          self.upload_emp_logo = true;
          self.upload_main_frame = false;
          self.themeAtual = true;
          self.hasImg = true;
          self.logoImg = storage + dados.json.Logo;
          self.themesArr.forEach(resp => {
            if (resp.id == dados.json.theme) {
              self.themeAtual = resp;
            }
          });
        })
        .then(ok => {
          self.pagesArr.forEach(item => {
            if (item.id == dados.json.Pagina) {
              self.pageAtual = item;
              self.imgbg = item.background_path;
              self.logoImg = storage + dados.json.Logo;
            }
          });
          loading.hide();
        });
    }
  },

  mounted() {
    var self = this;
    this.showModal();
    if (self.$router.history.current.params.dados) {
      self.isSavedModel = true;
      self.updateMouted();
    } else {
      self.spinnerGlobal = false;
      self.getAtualMaterial(5);
      self.showModal();
    }
    self.spinnerGlobal = false;
  }
};
</script>

  <style scoped>
.upload-area {
  margin: auto;
  width: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
}

/* canvas-area */

.canvas-area {
  display: flex;
  justify-content: center;
}

.button-row {
  text-align: center;
}

.croppa-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 0px;
}

.croppa-container:hover {
  opacity: 1;
  background-color: #dfdfdf;
}

.buttonFlips {
  font-size: 0.7rem;
  background: #d6d6d6;
  border: 2px solid transparent;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}
.buttonFlips:hover {
  background: #fff;
  border: 2px solid #d6d6d6;
}

.concluirbutton {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 0px;
  background: #f47200;
  color: white;
  border: 2px solid transparent;
}

/* canvas-area */
.upload-logo {
  text-align: center;
}

.upload-area img {
  height: 30px;
  width: 30px !important;
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
  text-align: center;
  margin-left: -8px;
}

.body {
  background-color: #fff;
  margin-top: 35px;
  min-height: 700px;
}

.row {
  height: 100%;
}

.testeira-area {
  width: 680px;
  margin: auto;
}

.workstation {
  background-color: #eef0f4;
}
.page-select {
  padding-top: 15px;
  height: 25%;
  overflow-y: auto;
}
.page-select a {
  color: black;
}
.pages {
  font-size: 13px;
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: left;
}
.page {
  cursor: pointer;
  margin: 5px 0 0 20px;
}

.back-spinner h5 {
  color: #f47200;
  font-weight: 600;
}

.settings {
  background-color: white;
  padding: 0 0 0 10px;
}

.workstation {
  padding: 0;
}

.title {
  font-size: 12px;
  margin-top: 20px;
}

select {
  font-size: 12px;
  width: 50%;
  height: 35px;
}

.space {
  margin-right: 5px;
}

.border1 {
  margin: auto;
  padding: 10px;
  min-height: 400;
  background: #fff;
  box-shadow: 0px 0 5px 0px #00000014;
}

.corTema {
  color: #f47200;
}

.selectmenu {
  width: 100%;
  margin-top: 78px;
  border-top: 1px solid #dadde2;
}

.ajust-img-up {
  position: absolute;
}

.logo-contain .btn-upload-img-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: #adb5c0;
  font-size: 0.9rem;
  font-weight: 600;
}

.logo-contain .btn-upload-img-label img.img_up {
  width: 30%;
  margin-bottom: 8px;
  margin: auto;
}

.theme {
  cursor: pointer;
}

#clone {
  padding: 0;
}
.ajust-thumb-themes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  margin-left: 6vh;
  max-width: 800px;
  overflow-x: auto;
}

.ajust-thumb-themes .card-thema {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.logo-contain .delete_logo {
  font-size: 0.7rem;
  background: #666666e6;
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  color: #fff;
  display: none;
}

.logo-contain:hover .delete_logo {
  display: block;
}

.btn-temas {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #797a7b;
  display: flex;
}

.btn-temas i {
  margin-left: 5px;
}

.btn-temas::before {
  background: transparent;
  border: none;
  color: #797a7b;
}

.btn-temas:active {
  background: transparent;
  border: none;
  color: #797a7b;
}

.top-margin {
  margin-top: 70px;
}

.banderole_contain {
  width: 680px;
  background: #fff;
  position: relative;
}

.banderole_contain img {
  width: 100%;
}

.drawer-logo {
  height: 60%;
}

.btn-orange {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #f47200;
  font-size: 15px;
  border: 1px solid #f47200;
}
.btn-orange:hover {
  background-color: #f47200;
  color: white;
}
.btn-red {
  margin-top: 25px;
  width: 66%;
  background-color: transparent;
  color: #dc3545;
  font-size: 15px;
  border: 1px solid #dc3545;
}
.btn-red:hover {
  background-color: #dc3545;
  color: white;
}
label {
  width: 100%;
}
.banderole_contain .logo-contain {
  position: absolute;
  bottom: 48.5%;
  background: transparent;
  right: 7%;
  width: 14%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 17.5%;
}

.banderole_contain .logo-contain img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.themes-row {
  min-height: 200px;
}

.uploadLogoBorder {
  border: 1px dashed #adb5c0;
}
</style>
