<template>
  <div id="capa">
    <div class="border1" v-if="this.products">
      <div class="grid-outline" style="position:relative">
        <img class="imagebg" :src="this.background_path" id="bg" @load="loaded()">
        <div class="upload-absolute" v-bind:class="{ 'uploadLogoBorder': !logo }">
          <div class="upload-area" v-if="!logo" @click="ca_updateLogo()">
            <img src="static/ico_upload_img.png">
            <h6>{{$t("messages.upload_logo")}}</h6>
          </div>
          <img class="img--logo" v-if="logo" :src="logo">
          <div class="deletelogo" v-if="logo">
            <div class="excluide-logo" v-if="logo" @click="ca_updateLogo();">Excluir logo</div>
          </div>
        </div>
        <div class="framejornal">
          <div style="height: 100%; display: flex;flex-wrap: wrap;">
            <div
              v-for="(produto, k) in this.products"
              v-bind:key="k"
              style="z-index: 3;padding-right: 0px; width:33%;height: 33%;padding-left: 0px; margin:1px;"
            >
              <Produto
                @clicked="ca_editarProduto($event)"
                :myData="produto"
                :isSavedModel="isSavedModel"
                :storage="storage"
                :blank="(produto.img).indexOf('uploads') == -1 ? true : false"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Produto from "./Produto";

export default {
  props: [
    "myData",
    "storage",
    "themeAtual",
    "isSavedModel",
    "logo",
    "upload",
    "products"
  ],
  watch: {
    themeAtual: function(newVal, oldVal) {
      this.ca_setBackGround();
    }
  },
  components: {
    Produto
  },
  data() {
    return {
      parent: null,
      background_path: null,
      _logo: null
    };
  },
  methods: {
    loaded() {
      this.$emit("loaded");
    },
    ca_editarProduto(value) {
      this.$emit("clicked", value);
    },
    ca_updateLogo() {
      this.$emit("openModal");
    },
    ca_setBackGround() {
      this.themeAtual.pages.forEach(element => {
        if (element.page_id === this.myData.id) {
          this.background_path = element.background_path;
        }
      });
    },
    ca_uploadImageToStorage(event) {
      var input = event.target;

      var reader = new FileReader();
      // Define a callback function to run, when FileReader finishes its job
      reader.onload = e => {
        // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
        // Read image as base64 and set to imageData
        this._logo = e.target.result;

        this.ca_updateLogo();
      };
      // Start the reader job - read file as a data url (base64 format)
      reader.readAsDataURL(input.files[0]);
    }
  },
  mounted() {
    this.ca_setBackGround();
  }
};
</script>

<style scoped>
.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000045;
}

.focus-item-grid {
  box-shadow: 0 0 20px 10px #5f5f5f82;
  background: #fff !important;
  z-index: 10 !important;
}

.img--logo {
  width: 100%;
  margin: auto;
}

.produto-img {
  max-height: 90%;
  width: auto;
  min-height: 27%;
  max-width: 80%;
}

.product-body {
  padding: 5px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product-body span {
  line-height: 1;
  color: #000;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.product-body img {
}

.upload {
  display: none;
}

.upload-main-frame {
  z-index: 99 !important;
  height: 100%;
  width: cover;
  display: flex;
}

.upload-absolute {
  position: absolute;
  top: 5%;
  background: transparent;
  left: 40%;
  width: 20%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 10.5%;
}

.upload-absolute img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.upload-area {
  width: 100%;
  border: none;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
  text-align: center;
}

.upload-area img {
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}

.uploadLogoBorder {
  border: 1px dashed #adb5c0;
}

.imagebg {
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
}

.grid-outline {
  background-color: #f5f7f9;
  height: 100%;
}

.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000030;
}

.deletelogo {
  position: absolute;
  font-weight: 800;
  color: #fff;
  background: #797a7ba9;
  border-radius: 14px;
  cursor: pointer;
  display: none;
  padding: 3px 17px;
}

.upload-absolute:hover .deletelogo {
  display: block;
}

.upload-after-up {
  z-index: 3 !important;
  position: absolute;
  height: 10.8%;
  left: 40%;
  top: 4%;
  width: 20.2%;
}

.upload-after-up .excluide-logo {
  display: none;
  margin: auto;
  position: absolute;
  top: -70px;
  font-weight: 800;
  width: 150px;
  color: #fff;
  background: #797a7ba9;
  padding: 3px 17px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  opacity: 50%;
}

.upload-after-up:hover .excluide-logo {
  display: block;
}

.shiftx-enter-active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shiftx-leave-active {
  opacity: 0;
  animation-name: fadeInOpacity2;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}

.framejornal {
  padding-top: 47.7%;
  padding-left: 3.1%;
  height: 100%;
  padding-bottom: 3.3%;
  padding-right: 3.1%;
}

.close-item {
  width: 17px;
  height: 17px;
  border-radius: 40px;
  position: absolute;
  display: flex;
  background: #003875;
  justify-content: center;
  right: -3px;
  top: -4px;
  align-items: center;
  padding: 5px 7px;
  color: #fff;
  font-size: 0.7rem;
}

.price-bg {
  position: absolute;
  width: 40% !important;
  bottom: 5%;
  right: 5%;
}

.price-ajust {
  bottom: 12%;
  color: #fff !important;
  position: absolute;
  font-size: 0.8vw !important;
  right: 6%;
  font-weight: 600;
}

.rs-ajust {
  bottom: 11%;
  color: #fff !important;
  position: absolute;
  right: 34%;
  font-size: 0.4vw !important;
  font-weight: 600;
}

.descricao-prod {
  font-size: 0.8vw !important;
}

.und-ajust {
  bottom: 7%;
  color: #fff !important;
  position: absolute;
  right: 10%;
  font-size: 0.4vw !important;
  font-weight: 600;
}

.de-por-ajust {
  bottom: 21%;
  color: #ffffff !important;
  position: absolute;
  right: 7%;
  font-size: 0.4vw !important;
  font-weight: 900;
}

.especial-ajust {
  bottom: 10%;
  color: #fff !important;
  position: absolute;
  left: 60%;
  font-size: 0.9rem !important;
  font-weight: 600;
}

.oferta-ajust {
  bottom: 10%;
  color: #fff !important;
  max-width: 80px;
  position: absolute;
  right: 5%;
  font-size: 0.9rem !important;
  font-weight: 600;
}

.body-item-grid-out {
  background: rgb(255, 255, 255);
  height: 100%;
  border: 1px solid #dcdcdc;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
