<template>
  <div>
    <div
      @click="ct_editarContraCapaTexto();"

      style="margin: 3px; font-size: 11px;"
    >{{myData.text}}</div>
  </div>
</template>

<script>
export default {
  props: ["myData", "isSavedModel"],
  data() {
    return {};
  },
  methods: {
    ct_editarContraCapaTexto() {
      this.$emit('clickedText', this.myData);
    }
  },
  beforeDestroy(){

  },
  mounted() {
  },
}
</script>

<style scoped>
.focus-item-grid {
  box-shadow: 0 0 20px 10px #5f5f5f82;
  background: #fff !important;
  z-index: 9 !important;
}
.img--logo {
  width: 100%;
  margin: auto;
}
.editor01 p {
  padding: 0px !important;
  margin: 0px !important;
  margin-bottom: -50px !important;
}

.editor01 {
  width: 229%;
  display: flex;
  height: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0%;
  left: 94%;
}

.product-body {
  padding: 5px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product-body span {
  line-height: 1;
  color: #000;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.product-body img {
  width: 80%;
}
.upload {
  display: none;
}
.upload-main-frame {
  height: 100%;
  width: cover;
  padding: 10%;
  display: flex;
}
.upload-absolute {
  position: absolute;
  z-index: 900;
  margin: auto;
  width: 100%;
}

.upload-area {
  margin: auto;
  margin-top: 12px;
  cursor: pointer;
}

.upload-area img {
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}
.imagebg {
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
}
.grid-outline {
  background-color: #f5f7f9;
  height: 100%;
}

.upload-after-up {
  z-index: 8 !important;
  position: absolute;
  height: 9.8%;
  left: 3.9%;
  bottom: 4.1%;
  width: 17%;
}
.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000030;
}
.upload-after-up .excluide-logo {
  display: none;
  margin: auto;
  position: absolute;
  top: -70px;
  font-weight: 800;
  left: 5px;
  width: 105px;
  color: #fff;
  background: #797a7ba9;
  padding: 3px 17px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  opacity: 50%;
}

.upload-after-up:hover .excluide-logo {
  display: block;
}
.shiftx-enter-active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shiftx-leave-active {
  opacity: 0;
  animation-name: fadeInOpacity2;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}
.framejornal {
  padding-top: 5.5%;
  padding-left: 5%;
  height: 100%;
  padding-bottom: 22.3%;
  padding-right: 2%;
}
.close-item {
  width: 17px;
  height: 17px;
  border-radius: 40px;
  position: absolute;
  display: flex;
  background: #003875;
  justify-content: center;
  right: -3px;
  top: -4px;
  align-items: center;
  padding: 5px 7px;
  color: #fff;
  font-size: 0.7rem;
}
.price-bg {
  position: absolute;
  width: 46% !important;
  bottom: 5%;
  right: 5%;
}
.price-ajust {
  bottom: 12%;
  color: #fff !important;
  position: absolute;
  font-size: 0.8vw !important;
  right: 6%;
  font-weight: 600;
}

.rs-ajust {
  bottom: 11%;
  color: #fff !important;
  position: absolute;
  right: 34%;
  font-size: 0.4vw !important;
  font-weight: 600;
}
.descricao-prod {
  font-size: 9px;
}
.und-ajust {
  bottom: 7%;
  color: #fff !important;
  position: absolute;
  right: 10%;
  font-size: 0.4vw !important;
  font-weight: 600;
}
.de-por-ajust {
  bottom: 21%;
  color: #ffffff !important;
  position: absolute;
  right: 7%;
  font-size: 0.4vw !important;
  font-weight: 900;
}
.especial-ajust {
  bottom: 10%;
  color: #fff !important;
  position: absolute;
  left: 60%;
  font-size: 0.9rem !important;
  font-weight: 600;
}
.oferta-ajust {
  bottom: 10%;
  color: #fff !important;
  max-width: 80px;
  position: absolute;
  right: 5%;
  font-size: 0.9rem !important;
  font-weight: 600;
}

.body-item-grid-out {
  background: rgb(255, 255, 255);
  height: 100%;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
