<template>
  <div id="Capa">
    <div class="border1" id="contra-capa" v-if="this.products">
      <div class="grid-outline" style="position:relative">
        <img class="imagebg" :src="this.background_path" id="bg" @load="loaded()">

        <div class="upload-after-up">
          <div class="upload-absolute" v-bind:class="{ 'uploadLogoBorder': upload }">
            <div class="upload-area" v-if="!logo" @click="cc_updateLogo()">
              <img src="static/ico_upload_img.png">
              <h6>{{$t("messages.upload_logo")}}</h6>
            </div>
            <img class="img--logo" v-if="logo" :src="logo">
          </div>
          <div class="editor01">
            <div v-for="(text, k) in texts" v-bind:key="k" style="height: 100%; width:100%;">
              <ContraCapaTexto
                @clickedText="cc_editarContraCapaTexto($event)"
                :myData="text"
                :isSavedModel="isSavedModel"
              />
            </div>
          </div>
          <input
            type="file_logo"
            @change="cc_uploadImageToStorage($event)"
            name="file_logo"
            class="upload"
            accept=".png"
            id="file_logo"
          >
          <div v-if="logo" style="position: relative;height: 50px;width: 100%;">
            <div class="excluide-logo" @click="cc_updateLogo();">Excluir logo</div>
          </div>
        </div>
        <div class="framejornal">
          <div style="height: 100%; display: flex;flex-wrap: wrap;">
            <div
              v-for="(produto, k) in this.products"
              v-bind:key="k"
              style="height: 16%;z-index: 3;padding-right: 0px; width:19%;padding-left: 0px; margin:1px;"
            >
              <Produto
                @clicked="cc_editarProduto($event)"
                :myData="produto"
                :isSavedModel="isSavedModel"
                :storage="storage"
                :produtoPequeno="true"
                :blank="(produto.img).indexOf('uploads') == -1 ? true : false"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Produto from "./Produto";
import ContraCapaTexto from "./ContraCapaTexto";

export default {
  props: [
    "myData",
    "storage",
    "themeAtual",
    "isSavedModel",
    "logo",
    "upload",
    "products",
    "texts"
  ],
  watch: {
    themeAtual: function(newVal, oldVal) {
      this.cc_setBackGround();
    }
  },
  components: {
    Produto,
    ContraCapaTexto
  },
  data() {
    return {
      parent: null,
      background_path: null
    };
  },
  methods: {
    loaded() {
      this.$emit("loaded");
    },
    cc_editarProduto(value) {
      this.$emit("clicked", value);
    },
    cc_editarContraCapaTexto(value) {
      this.$emit("clickedText", value);
    },
    cc_updateLogo() {
      this.$emit("openModal");
    },
    cc_setBackGround() {
      this.themeAtual.pages.forEach(element => {
        if (element.page_id === this.myData.id) {
          this.background_path = element.background_path;
        }
      });
    },
    cc_uploadImageToStorage(event) {
      var input = event.target;

      var reader = new FileReader();
      // Define a callback function to run, when FileReader finishes its job
      reader.onload = e => {
        // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
        // Read image as base64 and set to imageData
        this._logo = e.target.result;

        this.cc_updateLogo();
      };
      // Start the reader job - read file as a data url (base64 format)
      reader.readAsDataURL(input.files[0]);
      //this.upload = false;
    }
  },
  mounted() {
    this.cc_setBackGround();
  }
};
</script>

<style scoped>
.uploadLogoBorder {
  border: 1px dashed #adb5c0;
}
.focus-item-grid {
  box-shadow: 0 0 20px 10px #5f5f5f82;
  background: #fff !important;
  z-index: 9 !important;
}
.img--logo {
  width: 100%;
  margin: auto;
}
.editor01 p {
  padding: 0px !important;
  margin: 0px !important;
  margin-bottom: -50px !important;
}

.editor01 {
  width: 229%;
  display: flex;
  height: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0%;
  left: 94%;
}

.product-body {
  padding: 5px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product-body span {
  line-height: 1;
  color: #000;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.product-body img {
  width: 80%;
}
.upload {
  display: none;
}
.upload-main-frame {
  height: 100%;
  width: cover;
  padding: 10%;
  display: flex;
}
.upload-absolute {
  position: absolute;
  background: transparent;
  width: 92%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 98%;
}

.upload-absolute img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.upload-area {
  margin: auto;
  margin-top: 12px;
  cursor: pointer;
  text-align: center;
}

.upload-area img {
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}
.imagebg {
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
}
.grid-outline {
  background-color: #f5f7f9;
  height: 100%;
}

.upload-after-up {
  z-index: 8 !important;
  position: absolute;
  height: 9.8%;
  left: 3.9%;
  bottom: 4.1%;
  width: 17%;
}
.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000030;
}
.upload-after-up .excluide-logo {
  display: none;
  z-index: 9999;
  margin: auto;
  position: absolute;
  font-weight: 800;
  left: 5px;
  width: 105px;
  color: #fff;
  background: #797a7ba9;
  padding: 3px 17px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  opacity: 50%;
  top: 50%;
}

.upload-after-up:hover .excluide-logo {
  display: block;
}
.shiftx-enter-active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shiftx-leave-active {
  opacity: 0;
  animation-name: fadeInOpacity2;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}
.framejornal {
  padding-top: 5.5%;
  padding-left: 5%;
  height: 100%;
  padding-bottom: 22.3%;
  padding-right: 2%;
}
.close-item {
  width: 17px;
  height: 17px;
  border-radius: 40px;
  position: absolute;
  display: flex;
  background: #003875;
  justify-content: center;
  right: -3px;
  top: -4px;
  align-items: center;
  padding: 5px 7px;
  color: #fff;
  font-size: 0.7rem;
}
.price-bg {
  position: absolute;
  width: 46% !important;
  bottom: 5%;
  right: 5%;
}
.price-ajust {
  bottom: 12%;
  color: #fff !important;
  position: absolute;
  font-size: 0.8vw !important;
  right: 6%;
  font-weight: 600;
}

.rs-ajust {
  bottom: 11%;
  color: #fff !important;
  position: absolute;
  right: 34%;
  font-size: 0.4vw !important;
  font-weight: 600;
}
.descricao-prod {
  font-size: 9px;
}
.und-ajust {
  bottom: 7%;
  color: #fff !important;
  position: absolute;
  right: 10%;
  font-size: 0.4vw !important;
  font-weight: 600;
}
.de-por-ajust {
  bottom: 21%;
  color: #ffffff !important;
  position: absolute;
  right: 7%;
  font-size: 0.4vw !important;
  font-weight: 900;
}
.especial-ajust {
  bottom: 10%;
  color: #fff !important;
  position: absolute;
  left: 60%;
  font-size: 0.9rem !important;
  font-weight: 600;
}
.oferta-ajust {
  bottom: 10%;
  color: #fff !important;
  max-width: 80px;
  position: absolute;
  right: 5%;
  font-size: 0.9rem !important;
  font-weight: 600;
}

.body-item-grid-out {
  background: rgb(255, 255, 255);
  height: 100%;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
