<template>
  <div class="header">
    <!--<div class="line">
      <div class="container">
        <a href="https://www2.flixdovarejo.com.br" target="_blank">
          <img src="static/nav/flix-do-varejo.png" alt class="flix-logo">
        </a>
      </div>
    </div>-->
    <div class="second-line">
      <div class="container-fluid second">
        <img
          src="static/nav/logo-flix.svg"
          alt
          class="flix-logo"
          @click="getRoute();$router.push('/dash');"
        >
        <div class="icons">
          <div class="home">
            <div class="click" @click="$router.push('/dash');">
              <i class="fab fa-trello"></i>
              <span>PAINEL</span>
            </div>
          </div>

          <div class="end">
            <div>
              <div @click="$emit('save-all')" style="cursor:pointer;margin-left: 1vw">
                <i class="fas fa-save space" style="margin-right: 5px;"></i>SALVAR
              </div>
            </div>
          </div>
          <div class="download">
            <div @click="$emit('download')" style="cursor: pointer; margin-left: 1vw">
              <i class="fas fa-download" style="margin-right: 5px"></i> BAIXAR
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      routstate: "",
      listCampaign: [],
      fullListTheme: [],
      displayListTheme: [{ value: "", text: "Selecione um Tema" }],
      selectedCampaign: "",
      selectedTheme: ""
    };
  },

  methods: {
    getRoute() {
      if (this.$router.history.current.name == "Jornal") {
        this.routstate = this.$router.history.current.name;
        return true;
      } else {
        return false;
      }
    },
    changeLocaleBR() {
      this.$i18n.locale = "pt_BR";
    },

    changeLocaleUS() {
      this.$i18n.locale = "en_US";
    },

    selectModelLayout() {
      this.getGridList(this.selectedCampaign);
    },

    enableLayout() {
      this.$router.push("/jornal");
      this.$eventBus.$emit(
        "send-img-path",
        this.displayListTheme[this.selectedCampaign].TemaIndex
      );
    }
  },
  mounted() {
    this.getRoute();
    //await this.getCampaignList();
  }
};
</script>

<style scoped>
.line {
  height: 35px;
  background-color: black;
  display: flex;
  align-items: center;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}

.second-line {
  background: linear-gradient(270deg, #753795, #f5822a 90%);
  border-bottom: 1px solid #00000025;
}
.second {
  height: 35px;
  background: transparent;
  display: flex;
  justify-content: space-between;
}
.second img {
  height: 30px;
  width: auto;
  cursor: pointer;
}
.line .container {
  text-align: left;
}
.line img {
  height: 30px;
  width: auto;
}
.header-bar {
  padding: 0 25px 0 25px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.flix-logo {
  width: 250px;
  height: auto;
}
.icons {
  display: flex;
  align-items: center;
}
.click,
.end,
.download {
  color: white;
}
</style>
