<template>
  <div id="Footer">
    <div class="container">
      <div class="desenvolvido text-right">
            <a href="http://www.wingmidia.com.br" target="_blank" class="developed" title="Conheça a Wing Mídia Integrada.">
                <span>Desenvolvido por</span>
                <img src="../../static/logo-wing-midia.png" alt="Logo Wing Mídia Integrada" title="Wing Mídia Integrada" class="img-logo-wing">
                <span class="wing">wingmidia</span>
            </a>
        </div>
    </div>
  </div>
</template>

<script>
//import { AUTH_LOGOUT } from "../store/actions/auth";
//import { mapGetters } from "vuex";

export default {
  name: 'Footer',
  /*data() {
    return {};
  },

  methods: {
    logout: function() {
      this.$store.dispatch(AUTH_LOGOUT).then(() => {
        this.$router.push("/login");
      });
    }
  },
  mounted() {
    //this.getRoute();
    //await this.getCampaignList();
  },
  computed: {
    ...mapGetters(["isAuthenticated", "authStatus"]),
    loading: function() {
      return this.authStatus === "loading" && !this.isAuthenticated;
    }
  }*/
};
</script>

<style scoped>
#Footer {
  background: black;
  height: 55px;
  z-index: 900;
}
.desenvolvido {
  padding-top: 15px;
}
.desenvolvido a {
        color: #FFF;
        line-height: 12px
    }

    .desenvolvido a:hover {
        color: #FFF
    }

    .desenvolvido .developed {
        color: #FFF;
        position: relative;
        text-decoration: none;
        font-size: 12px;
    }

    .desenvolvido .developed span {
        position: relative;
        line-height: 30px;
        top: 0;
        transition: all .3s ease
    }

    .desenvolvido .developed .img-logo-wing {
        padding-left: .5rem
    }

    .desenvolvido .developed .wing {
        opacity: 0;
        position: absolute;
        right: 50px;
        top: 20px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    .desenvolvido .developed:focus span, .desenvolvido .developed:hover span {
        top: -7px;
        line-height: 30px
    }

    .desenvolvido .developed:focus .wing, .desenvolvido .developed:hover .wing {
        display: block;
        opacity: 1;
        position: absolute;
        right: 50px;
        top: 4px;
        transform: all 1s ease;
    }
</style>
