<template>
  <div class="header">
    <div class="line">
      <div class="container">
        <div class="header-flix">
          <b-row>
            <b-col md="6" sm="12">
              <a href="https://www2.flixdovarejo.com.br" target="_blank">
                <img
                  src="../../static/nav/flix-do-varejo.png"
                  alt="flix-do-varejo"
                  class="flix-logo"
                >
              </a>
            </b-col>
            <b-col md="6" sm="12">
              <a href @click.prevent="logout" class="link-sair-painel">Sair</a>
              <a
                class="link-voltar-painel"
                href="//www.flixdovarejo.com.br"
              >voltar ao portal Flix do Varejo</a>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
    <div class="header-bar">
      <img
        src="../../static/nav/logo-flix.svg"
        alt="logo-flix"
        class="flix-logo"
        @click="getRoute();$router.push('/dash');"
      >
    </div>
  </div>
</template>

<script>
import { userKey } from "@/global";
export default {
  data() {
    return {
      routstate: "",
      listCampaign: [],
      fullListTheme: [],
      displayListTheme: [{ value: "", text: "Selecione um Tema" }],
      selectedCampaign: "",
      selectedTheme: ""
    };
  },

  methods: {
    getRoute() {
      if (this.$router.history.current.name == "Jornal") {
        this.routstate = this.$router.history.current.name;
        return true;
      } else {
        return false;
      }
    },
    changeLocaleBR() {
      this.$i18n.locale = "pt_BR";
    },

    changeLocaleUS() {
      this.$i18n.locale = "en_US";
    },

    selectModelLayout() {
      this.getGridList(this.selectedCampaign);
    },

    logout() {
      localStorage.removeItem(userKey);
      this.$store.commit("setUser", null);
      this.$router.push({ name: "Login" });
    },

    enableLayout() {
      this.$router.push("/jornal");
      this.$eventBus.$emit(
        "send-img-path",
        this.displayListTheme[this.selectedCampaign].TemaIndex
      );
    }
  },
  mounted() {
    this.getRoute();
    //await this.getCampaignList();
  }
};
</script>

<style scoped>
.line {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  background-color: black;
  display: flex;
  align-items: center;
  z-index: 900;
  -webkit-box-shadow: 0px 3px 42px -2px rgba(89, 84, 89, 1);
  -moz-box-shadow: 0px 3px 42px -2px rgba(89, 84, 89, 1);
  box-shadow: 0px 3px 42px -2px rgba(89, 84, 89, 1);
}
.line .container {
  text-align: left;
}
.line img {
  height: 30px;
  width: auto;
}
.header-bar {
  padding: 55px 25px 0 25px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.flix-logo {
  width: 250px;
  height: auto;
}

.header-flix a {
  color: #f58229;
}
.header-flix a.link-voltar-painel {
  background: url(/static/nav/icone-voltar.png) no-repeat center left;
  float: right;
  font-size: 12px;
  font-weight: bolder;
  padding: 7px 0 5px 17px;
}
.header-flix a.link-sair-painel {
  float: right;
  font-size: 12px;
  font-weight: bolder;
  padding: 7px 0 5px 17px;
  margin-left: 10px;
}
</style>
