<template>
  <div id="Nave">
    <b-navbar
      class="navbar"
      toggleable="md"
      type="dark"
      variant="info"
      fixed="top"
      style="z-index: 900 !important;box-shadow: 0px -4px 14px;"
    >
      <div class="selectmenu">
        <b-container>
          <b-row>
            <b-col cols="12">
              <div class="ajust-all-nav">
                <b-row>
                  <b-col cols="3">
                    <div class="ajust-selects">
                      <span>Tema:</span>
                      <div v-b-toggle.collapse1 class="btn-temas">
                        {{pai.themeAtual.name}}
                        <i class="fas fa-sort-down"></i>
                      </div>
                    </div>
                  </b-col>
                  <b-col cols="3">
                    <div class="ajust-selects">
                      <span>Página:</span>
                      <b-form-select
                        @input="pai.enableLayout()"
                        v-model="pai.pageAtual"
                        name="theme"
                        id
                      >
                        <option value="-1" disabled selected>Selecionar</option>
                        <option
                          v-for="(value, key) in pai.pagesArr"
                          v-bind:key="key"
                          :value="value"
                        >{{value.name}}</option>
                      </b-form-select>
                    </div>
                  </b-col>
                  <b-col cols="6">
                    <button @click="saveImg(1000)">Save png</button>
                    <button @click="pai.notify">notify</button>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-collapse id="collapse1" class="mt-2">
              <div class="ajust-thumb-themes">
                <div
                  class="card-thema"
                  v-for="(themes, index) in pai.themesArr"
                  :key="index"
                  @click="themeAtual = themes;"
                  v-b-toggle="'collapse1'"
                >
                  <!-- {{themes.name}}-->
                  <img :src="themes.img_background" style="width: 100%;height: 100%;">
                </div>
              </div>
            </b-collapse>
          </b-row>
        </b-container>
      </div>
    </b-navbar>
  </div>
</template>
<script>
export default {
  props: ["pai"]
};
</script>

<style scoped>
</style>