<template>
  <div :class="'paginaInterna'+this.identificator">
    <div class="border1" id="capa" v-if="this.products">
      <div class="grid-outline" style="position:relative">
        <img class="imagebg" :src="this.background_path" id="bg" @load="loaded()">
        <div class="framejornal">
          <div style="height: 100%; display: flex;flex-wrap: wrap;">
            <div
              v-for="(produto, k) in this.products"
              v-bind:key="k"
              style="height: 14%;z-index: 3;padding-right: 0px; width:19%;padding-left: 0px; margin:1px;"
            >
              <Produto
                @clicked="pi_editarProduto($event)"
                :myData="produto"
                :isSavedModel="isSavedModel"
                :storage="storage"
                :blank="(produto.img).indexOf('uploads') == -1 ? true : false"
                :produtoPequeno="produtoPequeno"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Produto from "./Produto";

export default {
  props: [
    "myData",
    "storage",
    "themeAtual",
    "isSavedModel",
    "products",
    "identificator"
  ],
  watch: {
    themeAtual: function(newVal, oldVal) {
      this.pi_setBackGround();
    }
  },
  components: {
    Produto
  },
  data() {
    return {
      parent: null,
      background_path: null,
      objects: [],
      produtoPequeno: true
    };
  },
  methods: {
    loaded() {
      this.$emit("loaded");
    },
    pi_editarProduto(value) {
      this.$emit("clicked", value);
    },
    pi_setBackGround() {
      this.themeAtual.pages.forEach(element => {
        if (element.page_id === this.myData.id) {
          this.background_path = element.background_path;
        }
      });
    }
  },
  mounted() {
    this.pi_setBackGround();
  }
};
</script>

<style scoped>
.img--logo {
  height: 100%;
}
.product-body {
  padding: 5px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product-body span {
  font-size: 0.6rem;
  line-height: 12px !important;
  color: #000;
  display: flex;
}

.upload {
  display: none;
}
.upload-main-frame {
  z-index: 99 !important;
  height: 100%;
  width: cover;
}
.upload-absolute {
  position: absolute;
  z-index: 900;
  margin: auto;
  width: 100%;
}

.upload-area {
  margin: auto;
  margin-top: 40px;
  width: 100px;
  height: 137px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
}

.upload-area img {
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}

.imagebg {
  width: 100%;
  height: 1037px;
  top: 0;
  position: absolute;
  left: 0;
}
.grid-outline {
  background-color: #f5f7f9;
  height: 100%;
}
.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000030;
}
.upload-after-up {
  z-index: 3 !important;
  position: absolute;
  height: 10.8%;
  left: 40%;
  top: 5%;
  width: 20.2%;
}

.upload-after-up .excluide-logo {
  display: none;
  margin: auto;
  position: absolute;
  top: -70px;
  font-weight: 800;
  width: 150px;
  color: #fff;
  background: #797a7ba9;
  padding: 3px 17px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  opacity: 50%;
}

.upload-after-up:hover .excluide-logo {
  display: block;
}
.shiftx-enter-active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shiftx-leave-active {
  opacity: 0;
  animation-name: fadeInOpacity2;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}
.framejornal {
  padding-top: 5.5%;
  padding-left: 5%;
  height: 100%;
  padding-bottom: 3.3%;
  padding-right: 2%;
}
.close-item {
  width: 17px;
  height: 17px;
  border-radius: 40px;
  position: absolute;
  display: flex;
  background: #003875;
  justify-content: center;
  right: -3px;
  top: -4px;
  align-items: center;
  padding: 5px 7px;
  color: #fff;
  font-size: 0.7rem;
}
.price-bg {
  position: absolute;
  width: 44% !important;
  bottom: -1%;
  right: 5%;
}
.price-ajust {
  bottom: 7.5%;
  color: #fff !important;
  position: absolute;
  font-size: 0.8vw !important;
  right: 8%;
  font-weight: 600;
}

.rs-ajust {
  bottom: 4%;
  color: #fff !important;
  position: absolute;
  right: 39%;
  font-size: 0.4vw !important;
  font-weight: 600;
}
.descricao-prod {
  font-size: 11px !important;
}
.und-ajust {
  bottom: 0%;
  color: #fff !important;
  position: absolute;
  right: 8%;
  font-size: 0.4vw !important;
  font-weight: 600;
}
.de-por-ajust {
  bottom: 15%;
  color: #ffffff !important;
  position: absolute;
  right: 7%;
  font-size: 0.4vw !important;
  font-weight: 900;
}
.especial-ajust {
  bottom: 10%;
  color: #fff !important;
  position: absolute;
  left: 60%;
  font-size: 0.9rem !important;
  font-weight: 600;
}
.oferta-ajust {
  bottom: 10%;
  color: #fff !important;
  max-width: 80px;
  position: absolute;
  right: 5%;
  font-size: 0.9rem !important;
  font-weight: 600;
}

.body-item-grid-out {
  background: rgb(255, 255, 255);
  height: 100%;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
