<template>
  <div style="height:100%;">
    <transition name="shiftx">
      <div @click="pr_editarProduto()" v-if="!empty" class="product-body">
        <input type="hidden" :value="myData.i">
        <span
          v-bind:class="{'descricao-prod':!produtoPequeno, 'descricao-prod-p': produtoPequeno}"
        >{{myData.dsc}}</span>
        <div v-bind:class="{'info-container':!produtoPequeno, 'info-container-p': produtoPequeno}">
          <div class="info">
            <img
              v-bind:class="{'price-bg':!produtoPequeno, 'price-bg-p': produtoPequeno}"
              :src="myData.bg_price"
            >
            <span
              v-bind:class="{'price-ajust':!produtoPequeno, 'price-ajust-p': produtoPequeno}"
              v-bind:style="{color: myData.color_price}"
              v-if="myData.priceType != 3"
            >{{myData.price}}</span>
            <span
              v-bind:class="{'und-ajust':!produtoPequeno, 'und-ajust-p': produtoPequeno}"
              v-bind:style="{color: myData.color_price}"
              v-if="myData.priceType != 3"
            >{{myData.und}}</span>
            <span
              v-bind:class="{'de-por-ajust':!produtoPequeno, 'de-por-ajust-p': produtoPequeno}"
              v-bind:style="{color: myData.color_price}"
              v-if="myData.priceType == 2"
            >{{myData.de_por}}</span>
            <span
              v-bind:class="{'rs-ajust':!produtoPequeno, 'rs-ajust-p': produtoPequeno}"
              v-bind:style="{color: myData.color_price}"
              v-if="myData.priceType != 3"
            >R$</span>
            <span
              v-bind:class="{'oferta-ajust':!produtoPequeno, 'oferta-ajust-p': produtoPequeno}"
              v-bind:style="{color: myData.color_price}"
              v-if="myData.priceType == 3"
            >{{myData.oferta}}</span>
          </div>
        </div>
        <img
          class="photo"
          v-if=" myData.img != 'static/itens/chapa.jpg' && isSavedModel && (myData.img).indexOf('blob') == -1"
          :src="storage+myData.img"
        >
        <img
          class="photo"
          v-else-if=" myData.img != 'static/itens/chapa.jpg' && !isSavedModel"
          :src="myData.img"
        >
        <img class="photo" v-else-if=" myData.img == 'static/itens/chapa.jpg' " :src="myData.img">
        <img
          class="photo"
          v-else-if="(myData.img).indexOf('blob') != -1 && isSavedModel"
          :src="myData.img"
        >
      </div>
    </transition>
    <div class="body-item-grid-out" v-if="empty" @click="pr_editarProduto()">
      <img src="static/ico_editar_oferta.png" style="margin-bottom:15px; width: 40px;">
      Editar Oferta
    </div>
  </div>
</template>

<script>
export default {
  props: ["myData", "isSavedModel", "storage", "blank", "produtoPequeno"],
  data() {
    return {
      empty: true
    };
  },
  methods: {
    pr_editarProduto() {
      this.empty = false;
      this.$emit("clicked", this.myData);
    }
  },
  beforeDestroy() {},
  mounted() {
    this.empty = this.isSavedModel && this.myData.edited ? false : this.blank;
  }
};
</script>

<style scoped>
.info-container {
  width: 50%;
  height: 33%;
  bottom: 0;
  right: 10px;
  position: absolute;
}
.info-container-p {
  width: 70%;
  height: 33%;
  bottom: 0;
  right: 0;
  position: absolute;
}
.info-container img,
.info-container-p img {
  width: 100%;
  height: auto;
}
.info {
  position: relative;
}
.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000045;
}
.focus-item-grid {
  box-shadow: 0 0 20px 10px #5f5f5f82;
  background: #fff !important;
  z-index: 10 !important;
}
.img--logo {
  width: 100%;
  margin: auto;
}
.produto-img {
  max-height: 90%;
  width: auto;
  min-height: 27%;
  max-width: 80%;
}
.product-body {
  padding: 5px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product-body span {
  line-height: 1;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.photo {
  width: 80%;
}

.upload {
  display: none;
}
.upload-main-frame {
  z-index: 99 !important;
  height: 100%;
  width: cover;
  display: flex;
}
.upload-absolute {
  position: absolute;
  z-index: 900;
  margin: auto;
  width: 100%;
}

.upload-area {
  margin: auto;
  margin-top: 40px;
  width: 100px;
  height: 137px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
}

.upload-area img {
  margin-bottom: 8px;
}

.upload-area h6 {
  font-weight: 600;
  color: #a5abb5;
}
.imagebg {
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
}
.grid-outline {
  background-color: #f5f7f9;
  height: 100%;
}
.border1 {
  margin: auto;
  padding: 10px;
  height: 1055px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 13px 3px #00000030;
}
.upload-after-up {
  z-index: 3 !important;
  position: absolute;
  height: 10.8%;
  left: 40%;
  top: 5%;
  width: 20.2%;
}

.upload-after-up .excluide-logo {
  display: none;
  margin: auto;
  position: absolute;
  top: -70px;
  font-weight: 800;
  width: 150px;
  color: #fff;
  background: #797a7ba9;
  padding: 3px 17px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  opacity: 50%;
}

.upload-after-up:hover .excluide-logo {
  display: block;
}
.shiftx-enter-active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shiftx-leave-active {
  opacity: 0;
  animation-name: fadeInOpacity2;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}
.framejornal {
  padding-top: 47.7%;
  padding-left: 3.1%;
  height: 100%;
  padding-bottom: 3.3%;
  padding-right: 3.1%;
}
.close-item {
  width: 17px;
  height: 17px;
  border-radius: 40px;
  position: absolute;
  display: flex;
  background: #003875;
  justify-content: center;
  right: -3px;
  top: -4px;
  align-items: center;
  padding: 5px 7px;
  color: #fff;
  font-size: 0.7rem;
}
.price-bg {
  width: 100% !important;
}
.price-ajust {
  position: absolute;
  bottom: 30%;
  right: 14%;
  font-size: 15px !important;
  color: white;
}

.price-ajust-p {
  color: white;
  bottom: 33%;
  right: 8%;
  position: absolute;
  font-size: 13px;
}

.rs-ajust {
  bottom: 23%;
  left: 15%;
  font-size: 9px !important;
  position: absolute;
  color: white;
}
.rs-ajust-p {
  position: absolute;
  color: white;
  bottom: 25%;
  left: 7%;
  font-size: 10px;
}
.descricao-prod {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.descricao-prod-p {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.und-ajust {
  position: absolute;
  bottom: 13%;
  right: 15%;
  font-size: 9px !important;
  color: white;
}
.und-ajust-p {
  position: absolute;
  bottom: 15%;
  right: 15%;
  color: white;
  font-size: 9px;
}
.de-por-ajust {
  position: absolute;
  top: 20%;
  left: 8%;
  font-size: 9px !important;
  color: white;
}
.de-por-ajust-p {
  position: absolute;
  color: white;
  top: 19%;
  left: 7%;
  font-size: 7px;
}
.especial-ajust {
  bottom: 10%;
  color: #fff;
  left: 60%;
  font-size: 0.9rem !important;
  font-weight: 600;
}
.oferta-ajust {
  position: absolute;
  text-align: center;
  right: 8%;
  bottom: 25%;
  color: #fff;
  max-width: 80px;
  font-size: 0.9rem !important;
  font-weight: 600;
}
.oferta-ajust-p {
  position: absolute;
  font-size: 12px;
  color: white;
  bottom: 26%;
  text-align: center;
}
.body-item-grid-out {
  background: rgb(255, 255, 255);
  height: 100%;
  border: 1px solid #dcdcdc;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
