<template>
  <div id="app">
    <div class="body-background">
      <router-view/>
    </div>
  </div>
</template>

<script>
import { baseApiUrl, userKey } from "@/global";

//import Menu from "@/components/Menu";
//import Footer from "@/components/Footer";
import { mapState } from "vuex";

export default {
  name: "App",
  components: {
    //Menu,
    //Footer
  },
  created: function() {},
  methods: {
    bloquear(e) {
      return false;
    },
    desbloquear() {
      return true;
    }
  },
  mounted() {
    document.onselectstart = new Function("return false");
    if (window.sidebar) {
      document.onmousedown = bloquear;
      document.onclick = desbloquear;
    }
  },
  computed: mapState(["isVisibleMenu", "user", "token"])
};
</script>

<style>
html,
body {
  background: black !important;
  min-height: calc(100vh - 35px);
  height: auto;
}

#app {
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 12px;
  min-height: calc(100vh - 35px);
}

.body-background {
  background: linear-gradient(45deg, #753795, #f5822a 90%);
}

.btn-warning {
  color: white !important;
  background: #f47200 !important;
  border-color: #f47200 !important;
}

.shadow-primary {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.modal-backdrop.show {
  opacity: 0.75 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.vld-overlay.is-full-page {
  z-index: 9999 !important;
}

.drawer {
  padding: 0;
  margin: 35px 0 0;
  background: white;
}

.drawer .drawer-col-1,
.drawer .drawer-col-2 {
  width: 20%;
  height: calc(100vh - 35px);
}

.drawer .drawer-grid {
  background: url("./assets/img/bg-grid.jpg") repeat repeat;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  width: 60%;
  height: calc(100vh - 35px);
}

.drawer .drawer-themes {
  height: 50%;
}

.drawer .drawer-pages {
  height: 50%;
}

.drawer .drawer-logo {
  height: 50%;
}

.drawer .drawer-price-layout {
  height: 50%;
}

.drawer .drawer-priceposter-text {
  height: 50%;
}

.drawer .drawer-themes .drawer-overflow,
.drawer .drawer-pages .drawer-overflow,
.drawer .drawer-logo .drawer-overflow,
.drawer .drawer-price-layout .drawer-overflow,
.drawer .drawer-priceposter-text .drawer-overflow {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  height: calc(100% - 27px);
  box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.drawer .drawer-grid .drawer-overflow {
  overflow-y: scroll;
  height: calc(100% - 27px);
  padding: 15px;
}

.zoom-100 {
  zoom: 100%;
  -moz-transform: scale(1);
}

.zoom-50 {
  zoom: 50%;
  -moz-transform: scale(0.5);
}

.zoom-25 {
  zoom: 25%;
  -moz-transform: scale(0.25);
}

.zoom-links a {
  color: black;
  text-decoration: none;
}

.header {
  display: block;
}
@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Anton";
  src: url("/static/fonts/anton.woff2") format("woff2");
  font-style: bold;
}
.corTema {
  font-weight: 600;
  color: #f47200;
}
.click {
  cursor: pointer;
}
.back-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
}
.spinner1 {
  width: 157px;
  height: 157px;
  margin-top: -32vh;
}

.bg-info {
  background-color: white !important;
}

.vue-grid-item.cssTransforms {
  left: 0;
  right: auto;
  transition-property: transform;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.focus-item-grid {
  box-shadow: 0 0 20px 10px #5f5f5f82;
  background: #fff !important;
  z-index: 900 !important;
}
.corTema {
  color: #f47200;
}
.item-fl {
  margin: 8px;
  align-items: center;
  background: #f47200;
  width: 60%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  transition: all 0.5s;
}
.item-fl:hover {
  border-right: 10px solid #aa4f00;
}
.item-fl:active {
  transform: scale(1.05);
  border-right: 0px solid #aa4f00;
}
.item-fl i {
  font-size: 50px;
  color: white;
  transition: all 0.5s;
}
.item-fl:hover i {
  transform: scale(0.9);
  color: white;
}
.item-fl .box {
  width: 100%;
}
.item-fl .box h5 {
  color: white;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.5s;
}
.item-fl .box h6 {
  font-size: 12px;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
}
.padding-bottom {
  margin-bottom: 10px;
}
.item-fl-r {
  margin: 8px;
  align-items: center;
  background: #007bff;
  width: 60%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  transition: all 0.5s;
}
.item-fl-r:hover {
  border-right: 10px solid #014185;
}
.item-fl-r:active {
  transform: scale(1.05);
  border-right: 0px solid #022144;
}
.item-fl-r i {
  font-size: 50px;
  color: white;
  transition: all 0.5s;
}
.item-fl-r:hover i {
  transform: scale(0.9);
  color: white;
}
.item-fl-r .box {
  width: 100%;
}
.item-fl-r .box h5 {
  color: white;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.5s;
}
.painelFin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.material-contain {
  display: flex;
  justify-content: center;
}
</style>
